.global-single-post-layout-quote {
    margin-bottom: 60px;
    &__container {
        background-color: $alabaster;
        padding: 60px 140px 60px 110px;
        @include tablet {
            padding: 50px;
        }
    }
    &__quote {
        font-size: 21px;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 20px;
        position: relative;
        &:after {
            @include tablet {
                display: none;
            }
            content: '';
            width: 32px;
            height: 28px;
            background-image: url('icon-quote-pink.svg');
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(180deg);
            position: absolute;
            right: -100px;
            top: 5px;
        }
    }
}
