.global-single-post-layout-image-and-editor {
  margin-bottom: 60px;
  &__container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      padding: 0;
    }
    &--alternate {
      .global-single-post-layout-image-and-editor__editor {
        order: 2;
        margin-left: 20px;
        margin-right: 0;
        @include tablet {
          margin-left: 0;
          order: 2;
        }
      }
      .global-single-post-layout-image-and-editor__image {
        order: 1;
        margin-right: 20px;
        margin-left: 0;
        @include tablet {
          margin-right: 0;
          order: 1;
        }
      }
    }
  }
  &__editor {
    width: calc(50% - 20px);
    align-self: center;
    margin-right: 20px;
    @include tablet {
      width: 100%;
      margin-right: 0;
      order: 2;
    }
  }
  &__image {
    width: calc(50% - 20px);
    height: auto;
    align-self: center;
    margin-left: 20px;
    display: block;
    @include tablet {
      width: 100%;
      margin-left: 0;
      order: 1;
      margin-bottom: 30px;
    }
  }
}
