<div class="roi-calculator-slide-header {% if step %}roi-calculator-slide--{{ step }}{% else %}roi-calculator-slide--unfilterable{% endif %}">

    <h3 class="roi-calculator-slide-header__title">{{ title }}</h3>
    <h6 class="roi-calculator-slide-header__subtitle">{{ subtitle }}</h6>

</div>
