<div class="roi-calculator-slider-questions">
    {% include 'roi-calculator-slide-question-initial.twig' %}
    {% include 'roi-calculator-slide-question-step.twig' with {
            placeholder: '120,000',
            step: 'step-a'
        } 
    %}
    {% include 'roi-calculator-slide-question-step.twig' with { 
            prefix: true, 
            placeholder: '60',
            step: 'step-a' 
        } 
    %}
    {% include 'roi-calculator-slide-question-step.twig' with {
            placeholder: '40',
            step: 'step-a', 
            isLast: true 
        } 
    %}
    {% include 'roi-calculator-slide-question-step.twig' with {  
            placeholder: '120,000',
            step: 'step-b' 
        } 
    %}
    {% include 'roi-calculator-slide-question-step.twig' with {
            prefix: true,
            placeholder: '60',
            step: 'step-b', 
            isLast: true 
        } 
    %}
</div>
