<div class="roi-calculator-buttons">
    <button class="roi-calculator-buttons__button button button--outlined-pink {% if step == 'step-a' %}js-modal-trigger-roi-calculator-calculation-step-a{% elseif step == 'step-b' %}js-modal-trigger-roi-calculator-calculation-step-b{% endif %}">
        <span>How it's calculated</span></button>
    <button class="roi-calculator-buttons__button button button--filled-pink js-modal-trigger-roi-calculator-csv">
        <span>Download results</span></button>
</div>
