<div class="roi-calculator-slide-question roi-calculator-slide--{{ step }} {% if isLast %}roi-calculator-slide--final{% endif %}">

    <div class="roi-calculator-slide-question__input" {% if prefix %} prefix="{{ prefix }}" {% endif %}>

        <input type="number" placeholder="{{ placeholder }}">

    </div>

</div>
