<div class="roi-calculator-slide-question roi-calculator-slide--unfilterable">
    <div class="roi-calculator-slide-question__list">

        <label class="roi-calculator-slide-question__item" for="roi-calculator-input--step-a">{{ post.get_field('roi_calculator_initial_slide_option_1') }}
            <input id="roi-calculator-input--step-a" class="roi-calculator-slide-question__checkbox" type="checkbox">
        </label>

        <label class="roi-calculator-slide-question__item" for="roi-calculator-input--step-b">{{ post.get_field('roi_calculator_initial_slide_option_2') }}
            <input id="roi-calculator-input--step-b" class="roi-calculator-slide-question__checkbox" type="checkbox">
        </label>

    </div>
</div>
