<div class="roi-calculator-slider-header">

    <div class="roi-calculator-slider-header__slider">
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_initial_slide_title'),
            subtitle: post.get_field('roi_calculator_initial_slide_subtitle')
        } %}
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_instore_slide_question_1_title'),
            subtitle: post.get_field('roi_calculator_instore_slide_question_1_subtitle'),
            step: 'step-a'
        } %}
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_instore_slide_question_2_title'),
            subtitle: post.get_field('roi_calculator_instore_slide_question_2_subtitle'),
            step: 'step-a'
        } %}
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_instore_slide_question_3_title'),
            subtitle: post.get_field('roi_calculator_instore_slide_question_3_subtitle'),
            step: 'step-a'
        } %}
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_hubbox_slide_question_1_title'),
            subtitle: post.get_field('roi_calculator_hubbox_slide_question_1_subtitle'),
            step: 'step-b'
        } %}
        {% include 'roi-calculator-slide-header.twig' with {
            title: post.get_field('roi_calculator_hubbox_slide_question_2_title'),
            subtitle: post.get_field('roi_calculator_hubbox_slide_question_2_subtitle'),
            step: 'step-b'
        } %}
    </div>

    <div class="roi-calculator-slider-header__progress">
        <div class="roi-calculator-slider-header__counter">
            <span class="roi-calculator-slider-header__index">1</span>/<span class="roi-calculator-slider-header__total">∞</span>
        </div>
        <div class="roi-calculator-slider-header__track">
            <div class="roi-calculator-slider-header__thumb"></div>
        </div>
    </div>

</div>
