<div class="roi-calculator-pagination">
    <a href="" class="roi-calculator-pagination__arrow roi-calculator-pagination__arrow--prev">previous</a>
    <a href="" class="roi-calculator-pagination__arrow roi-calculator-pagination__arrow--next roi-calculator-pagination__arrow--inactive">next</a>
</div>
