<section class="roi-calculator section-width section-width--small section-width--center">
    {% include 'roi-calculator-slider-header.twig' %}
    {% include 'roi-calculator-slider-questions.twig' %}
    {% include 'roi-calculator-pagination.twig' %}
</section>
