<section class="global-hero global-hero--{{ headerHeight }} global-hero--{{ textAlign }} section-width section-width--full section-width--center {% if not post.thumbnail%}global-hero--no-background{% endif %}">

    {% if post.thumbnail.src %}
        <div class="cover-image" style="background-image: url({{ post.thumbnail.src|resize(1920, 0, 'center') }});"></div>
        <div class="overlay overlay--black"></div>
    {% endif %}

    <div class="global-hero__container">

        <div class="global-hero__text">

            <h1 class="global-hero__title global-hero__title--{{ titleWidth }}">
                {% if post.get_field('page_hero_override_title') == true %}
                    {{ alternatePostTitle }}
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h1>

            {% if post.post_type == 'post' %}
                <div class="global-hero__info">
                    <span class="global-hero__caption global-hero__caption--seperator">{{ post.date|date('d M Y') }}</span>
                    <span class="global-hero__caption global-hero__caption--seperator">{{ post.author }}</span>
                    {% for category in post.categories %}
                        <span class="global-hero__caption">{{ category }}
                            {% if loop.index != loop.last %},
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            {% else  %}
                {% if subtitle %}
                    <div class="global-hero__content global-hero__content--{{ titleWidth }}">{{ subtitle }}</div>
                {% endif %}
                {% if post.page_hero_include_button %}
                    <a href="{{ post.page_hero_button_link }}" class="button {% if post.thumbnail.src %}button--outlined-white{% else %}button--outlined-pink{% endif %} global-hero__button {% for category in post.get_terms('resources_categories')if category.slug == 'whitepapers' %}js-modal-trigger-whitepaper{% endfor %}">
                        <span>{{ post.page_hero_button_name }}</span></a>
                {% endif %}
            {% endif %}

        </div>

        {% if headerHeight == 'full' %}
            <button class="global-hero__scroll">scroll down</button>
        {% endif %}

    </div>

</section>
