{% if postCount > postsPerPage %}
    <button 
        data-offset="{{ offset }}" 
        data-post-type="{{ postType }}" 
        data-template="{{ template }}" 
        data-category="{{ category }}" 
        data-taxonomy="{{ taxonomy }}" 
        class="global-load-more button button--load-more button--outlined-pink"
    >
        <span>Load more</span>
    </button>
{% endif %}
