<aside class="global-modal" trigger="{{ trigger }}">
    <div class="global-modal__content" style="max-width: {{ maxWidth }}px">
        <div class="global-modal__close"></div>
        <div class="global-modal__container">
            {{ modalContent }}
        </div>
    </div>
</aside>
