<section class="global-filters section-width section-width--mini section-width--center" data-taxonomy="{{ taxonomy }}" data-template="{{ template }}" data-post-type="{{ postType }}">

    <ul class="global-filters__categories">

        <li class="global-filters__category">
            <button data-category="" class="global-filters__button active">All</button>
        </li>

        {% for category in categories %}

            <li class="global-filters__category">
                <button data-category="{{ category.slug }}" class="global-filters__button">{{ category.name }}</button>
            </li>

        {% endfor %}

    </ul>

</section>
