{% include "header-mobile-overlay.twig" %}

<header class="header">

    <div class="section-width section-width--med section-width--center header__container">

        <a href="{{ site.url }}" class="header__logo">
            <img src="{{ theme.link }}/logo-full.svg" alt="HubBox" class="header__logo--primary">
            <img src="{{ theme.link }}/logo-full-white.svg" alt="HubBox" class="header__logo--secondary">
        </a>

        {% include "header-menu.twig" %}

        {% include "header-hamburger.twig" %}

    </div>

</header>
