<nav role="navigation" class="header-menu">

    <ul class="header-menu__items">
        {% for item in menuMain.get_items %}

            <li class="{{ item.classes | join(' ') }} header-menu__item">

                <a class="header-menu__link {% if loop.last %}header-menu__link--last-item{% endif %} {% if post.get_field('page_hero_size')|sanitize == 'full' %}header-menu__link--white{% endif %} {% if item.children %}header-menu__link--has-children{% endif %}" {% if not item.children %}href="{{ item.get_link }}{% endif %}">{{ item.title }}</a>

                {% if item.children %}

                    <ul class="header-menu__dropdown">
                        {% for child in item.children %}
                            <li class="{{ child.classes | join(' ') }}">
                                <a href="{{ child.get_link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <div class="header-menu__scroller">
        <div class="header-menu__line"></div>
    </div>

</nav>
