.footer {
    background-color: $outer-space;
    padding-top: 50px;
    padding-bottom: 50px;
    position: sticky;
    bottom: 0;
    transform: translateX(0%);
    width: 100%;
    transition: all ease-in-out .3s;
    @include tablet {
        position: relative;
    }
    &__container {
        display: flex;
        @include tablet {
            flex-wrap: wrap;
        }
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        &--3-5 {
            width: (100% / 5 * 3);
            @include tablet {
                width: 100%;
                margin-bottom: 30px;
            }
            .footer__column {
                width: (100% / 3);
            }
        }
        &--1-5 {
            width: (100% / 5);
            @include tablet {
                width: (100% / 3);
            }
            .footer__column {
                width: 100%;
            }
        }
        &:last-of-type {
            .footer__column {
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }
    &__column {
        padding-right: 20px;
        width: 100%;
    }
    &__title {
        @include text-menu;
        color: $pink;
        margin-bottom: 30px;
    }
    &__newsletter {
        align-self: flex-end;
        width: calc(100% - 30px);
        display: flex;
        margin-top: 30px;
        input,
        button {
            border: solid 1px $pink;
            border-radius: 20px;
            background-color: $outer-space;
        }
        input {
            width: calc(100% - 60px);
            padding: 10px 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            color: $white;
            border-radius: 20px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: $outer-space;
            border-right: none;
        }
        button {
            width: 60px;
            background-image: url('icon-arrow-silver.svg');
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: center right 24px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
            transition: background-position ease-in-out .3s;
            &:hover {
                background-position: center right 18px;
            }
        }
    }
    &__menu {
        li {
            margin-bottom: 12px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        a {
            font-size: 12px;
            color: $silver;
            font-weight: 300;
        }
    }
    &__social {
        display: flex;
        flex-wrap: wrap;
        max-width: 55px;
        li {
            margin-right: 25px;
            margin-bottom: 25px;
            &:nth-of-type(even) {
                margin-right: 0;
            }
        }
        a {
            display: block;
            width: 15px;
            height: 15px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
    &__logo {
        margin-bottom: 25px;
        display: block;
        img {
            max-width: 130px;
        }
    }
    &__content {
        font-size: 12px;
        line-height: 1.2em;
        color: $silver;
        display: block;
        margin-bottom: 15px;
        font-weight: 300;
        p {
            font-size: 12px;
        }
        &--bold {
            font-weight: 500;
            color: $white;
        }
        &:nth-last-child(2) {
            margin-bottom: 30px;
        }
        &:last-child {
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}
