.footer-newsletter {
    align-self: flex-end;
    width: calc(100% - 30px);
    display: flex;
    margin-top: 30px;
    opacity: 1;
    transition: opacity ease-in-out .3s;
    input,
    button {
        border: solid 1px $pink;
        border-radius: 20px;
        background-color: $outer-space;
    }
    input {
        width: calc(100% - 60px);
        padding: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: $white;
        border-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $outer-space;
        border-right: none;
    }
    button {
        width: 60px;
        background-image: url('icon-arrow-silver.svg');
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: center right 24px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        transition: background-position ease-in-out .3s;
        &:hover {
            background-position: center right 18px;
        }
    }
}
