{% set modalContent %}
<div class="roi-calculator-modal-calculation">

    <h3 class="roi-calculator-modal-calculation__title">{{ post.get_field('roi_calculator_instore_slide_results_title') }}</h3>

    {{ post.get_field('roi_calculator_instore_slide_results_content') }}

</div>
{% endset %}

{% include 'global-modal.twig' with {modalContent: modalContent, trigger: 'js-modal-trigger-roi-calculator-calculation-step-a', maxWidth: 600 } %}
