{% set modalContent %}
<form class="roi-calculator-modal-csv">

    <h3 class="roi-calculator-modal-csv__title">Download results</h3>
    <div class="roi-calculator-modal-csv__input input input--text  input--color-default input--width-full">
        <input type="email" placeholder="your@email.com" required>
        <div class="input__underline"></div>
    </div>

    <p>
        <label class="roi-calculator-modal-csv__terms-and-conditions">
            <input type="checkbox">
            <span class="roi-calculator-modal-csv__agreement">I agree to the
                <a href="{{ TimberPost('roi-calculator-terms-and-conditions').link }}" target="_blank" class="link link--underlined link--standard-spacing">Terms and Condition</a>
            </span>
        </label>
    </p>

    <button type="submit" class="roi-calculator-modal-csv__button js-roi-calculator-button--csv button button--filled-pink button--filled-disabled">
        <span>Download</span></button>

</form>
{% endset %}

{% include 'global-modal.twig' with {modalContent: modalContent, trigger: 'js-modal-trigger-roi-calculator-csv', maxWidth: 400 } %}
