{% for post in posts %}

    <a href="{{ post.link }}" class="archive-blog-tease global-ajax__tease global-ajax__tease--ajaxed" {% if post.full_size_image_on_archive_page %} style="background-image: url({{ post.thumbnail.src|resize(720, 1034, 'center') }})" {% endif %}>

        {% if post.full_size_image_on_archive_page %}
            <div class="overlay overlay--black"></div>
        {% endif %}

        {% if post.categories[0] %}
            <div class="archive-blog-tease__category">{{ post.categories[0] }}</div>
        {% endif %}

        {% if post.thumbnail.src and not post.full_size_image_on_archive_page %}
            <div class="archive-blog-tease__image">
                <img src="{{ post.thumbnail.src|resize(720, 500, 'center') }}" alt="{{ post.thumnail.name }}">
            </div>
        {% endif %}

        <div class="archive-blog-tease__content">

            <h3 class="archive-blog-tease__title {% if not post.thumbnail.src %}archive-blog-tease__title--no-image{% endif %} {% if post.full_size_image_on_archive_page %}archive-blog-tease__title--full-size{% endif %}">{{ post.title|truncate(8) }}</h3>

            {% if not post.full_size_image_on_archive_page %}

                <div class="archive-blog-tease__text">
                    {{ post.post_excerpt|excerpt(20) }}
                </div>

                <div class="archive-blog-tease__date">
                    Posted on <span>/ {{ post.date|date('d M Y') }}</span>
                </div>

            {% endif %}

        </div>

    </a>

{% endfor %}
