<section class="archive-blog-featured-post section-width section-width--med section-width--center">

    <a href="{{ latestPost.link }}" class="archive-blog-featured-post__item">

        <div class="archive-blog-featured-post__image">
            <img src="{{ latestPost.thumbnail.src|resize(1344, 938, 'center') }}" alt="{{ latestPost.thumbnail.name }}">
        </div>

        <div class="archive-blog-featured-post__container">

            {% if latestPost.categories[0] %}
                <div class="archive-blog-featured-post__category">{{ latestPost.categories[0] }}</div>
            {% endif %}

            <div class="archive-blog-featured-post__content">
                <h3 class="archive-blog-featured-post__title">{{ latestPost.title|truncate(10) }}</h3>
                <div class="archive-blog-featured-post__text">{{ latestPost.post_excerpt|excerpt(20) }}</div>
            </div>

            <div class="archive-blog-featured-post__date">
                Posted on
                <span>/
                    {{ latestPost.date|date('d M Y') }}</span>
            </div>

        </div>
    </a>

</section>
