<section class="archive-blog-posts global-ajax__wrapper section-width section-width--med section-width--center">

    <div class="archive-blog-posts__container global-ajax__container">

        {% include 'archive-blog-tease.twig' %}

    </div>

</section>
