.page-builder-testimonials-single {
    display: flex;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
    transition: box-shadow ease-in-out .3s;
    background-color: $white;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include tablet {
        flex-direction: column;
        margin-bottom: 30px;
    }
    &:not(div) {
        &:hover {
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
            .page-builder-testimonials-single__link {
                color: $outer-space;
            }
        }
    }
    &__image {
        width: 50%;
        align-self: center;
        @include tablet {
            width: 100%;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    &__container {
        width: 50%;
        padding: 35px 35px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            width: 100%;
            padding-top: 0px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__content {
        max-width: 380px;
        margin: auto;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        padding-top: 30px;
        padding-bottom: 30px;
        @include tablet {
            margin-bottom: 40px;
            max-width: 100%;
        }
    }
    &__author {
        font-weight: 500;
        text-align: right;
        font-size: 13px;
        border-top: solid 1px rgba($black, .1);
        padding: 20px 0 0;
        span {
            color: $dusty-gray;
        }
        &--margin-auto {
            // margin-top: auto;
        }
    }
    &__link {
        @include text-menu;
        color: $pink;
        text-align: right;
        margin-top: auto;
        margin-bottom: 15px;
        transition: color ease-in-out .3s;
    }
}
