.page-builder-testimonials {
    padding-top: 50px;
    padding-bottom: 70px;
    &__title {
        margin-bottom: 40px;
        text-align: center;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
