.page-builder-testimonials-multiple {
    display: flex;
    width: calc(100% / 3 - 20px / 3 * 2);
    flex-direction: column;
    margin-right: 20px;
    background-color: $white;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
    transition: box-shadow ease-in-out .3s;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
        width: calc(100% / 2 - 20px / 2);
        margin-bottom: 20px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    @include mobile {
        width: 100%;
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
    &:not(div) {
        &:hover {
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
            .page-builder-testimonials-multiple__link {
                color: $outer-space;
            }
        }
    }
    &__image {
        &--large {
            img {
                width: 100%;
                display: block;
            }
        }
        &--small {
            padding-left: 40px;
            padding-top: 40px;
            img {
                width: 100%;
                display: block;
                max-width: 50px;
                border-radius: 50%;
            }
        }
    }
    &__content {
        padding: 35px 40px 5px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        height: 100%;
        flex: 1;
    }
    &__title {
        position: relative;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__author {
        font-weight: 500;
        text-align: right;
        font-size: 13px;
        border-top: solid 1px rgba($black, .1);
        padding: 20px 0;
        span {
            color: $dusty-gray;
        }
        &--margin-auto {
            margin-top: auto;
        }
    }
    &__link {
        @include text-menu;
        color: $pink;
        text-align: right;
        margin-top: auto;
        margin-bottom: 15px;
        transition: color ease-in-out .3s;
    }
}
