{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    {% if constant('SCRIPT_TAGS') %}
        {% include 'script-tag-google-survey.twig' %}
        {% if post.slug == "roi-calculator" or post == fn('is_front_page') %}
            {% include 'script-tag-hotjar.twig' %}
        {% endif %}
    {% endif %}
</head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">

        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}

        {% include 'global-page-load.twig' %}

        <section id="content" role="main" class="content-wrapper">

            {% block content %}
            {% endblock %}

        </section>

        {% block footer %}
            {% include 'footer.twig' %}
            {{ function('wp_footer') }}
        {% endblock %}

        {% if post.post_type == "resources" %}
            {% for category in post.get_terms('resources_categories')if category.slug == 'whitepapers' %}
                {% include 'single-resource-modal.twig' %}
            {% endfor %}
        {% endif %}
        
        {% if post.slug == "locations" %}
            {% include 'page-builder-locations-theme-editor.twig' %}
        {% endif %}

        {% if post.slug == "roi-calculator" %}
            {% include 'roi-calculator-modal-calculation-step-a.twig' %}
            {% include 'roi-calculator-modal-calculation-step-b.twig' %}
            {% include 'roi-calculator-modal-csv.twig' %}
        {% endif %}
        
        {% if constant('BROWSER_SYNC') %}
            {% include 'browserSync.twig' %}
        {% endif %}

        {% if constant('SCRIPT_TAGS') and post.slug != "locations" %}
            {% include 'script-tag-freshchat.twig' %}
        {% endif %}

    </body>
</html>
