{% extends "base.twig" %}

{% block content %}

    <div class="page-404 content-section background-color--white">

        <section class="section-width section-width--med section-width--center">

            <div class="page-404__title">404</div>
            <div class="page-404__content">
                <p>Oops, the page you are looking for doesn't exist. View to our <a href="{{ site.url }}">homepage.</a></p>
            </div>

        </section>

    </div>

{% endblock %}
