{% extends 'base.twig' %}

{% block content %}

    <div class="page-default content-section background-color--white">

        {% include 'global-hero.twig' with {
            alternatePostTitle: post.get_field('page_hero_page_title'),
            headerHeight: post.get_field('page_hero_size')|sanitize,
            textAlign: post.get_field('page_hero_text_align')|sanitize,
            subtitle: post.get_field('page_hero_subtitle'),
            titleWidth: 'width-med'
        }%}

        {% include 'global-content.twig' %}


    </div>

{% endblock %}
