<div class="page-builder-locations-theme-editor">

    <div class="page-builder-locations-theme-editor__container">

        {# TODO make the global dropdown a components #}

        {% set themesContent %}
        <div class="global-dropdown">
            <label class="global-dropdown__label">Theme examples:</label>
            <div class="global-dropdown__select">
                <select class="js-select-theme" style="theme">
                    <option value="">Select</option>
                    <option value="hubboxThemeStyles">HubBox</option>
                    <option value="boldBlackThemeStyles">Bold Black</option>
                    <option value="oceanBlueThemeStyles">Ocean Blue</option>                 
                    <option value="neonPurpleThemeStyles">Neon Purple</option>
                    <option value="mustardThemeStyles">Mustard</option>
                    <option value="carrotTopThemeStyles">Carrot Top</option>
                </select>
            </div>
        </div>
        {% endset %}

        {% set colorsContent %}
        <div class="global-dropdown">
            <label class="global-dropdown__label">Buttons:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorButtonBackground">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Buttons active:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorButtonBackgroundActive">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Fonts primary:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorTextPrimary">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Fonts secondary:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorTextSecondary">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Primary Icons:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorIconPrimary">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Secondary Icons:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="colorIconSecondary">
                    <option value="">Select</option>
                    <option value="#000000">Black</option>
                    <option value="#788188">Grey</option>
                    <option value="#56c6f1">Blue</option>
                    <option value="#4D148C">Purple</option>
                    <option value="#ff6200">Orange</option>
                    <option value="#ef296a">Pink</option>
                    <option value="#301506">Dark Brown</option>
                    <option value="#fab80a">Mustard</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Location Pins:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="pinUrl">
                    <option value="">Select</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-black.svg">Black</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-grey.svg">Grey</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-blue.svg">Blue</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-orange.svg">Orange</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-pink.svg">Pink</option>
                    <option value="{{ theme.link }}/hw-pin-hubbox-brown.svg">Brown</option>
                </select>
            </div>
        </div>
        {% endset %}

        {% set fontsContent %}
        <div class="global-dropdown">
            <label class="global-dropdown__label">Font primary:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="fontFamilyPrimary">
                    <option value="">Select</option>
                    <option value="Archivo Narrow">Archivo Narrow</option>
                    <option value="Oswald">Oswald</option>
                    <option value="Nunito">Nunito</option>
                    <option value="Lato">Lato</option>
                    <option value="Sanchez">Sanchez</option>
                    <option value="Roboto">Roboto</option>
                    <option value="Roboto Slab">Roboto Slab</option>
                </select>
            </div>
        </div>

        <div class="global-dropdown">
            <label class="global-dropdown__label">Font secondary:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="fontFamilySecondary">
                    <option value="">Select</option>
                    <option value="Archivo Narrow">Archivo Narrow</option>
                    <option value="Oswald">Oswald</option>
                    <option value="Nunito">Nunito</option>
                    <option value="Lato">Lato</option>
                    <option value="Sanchez">Sanchez</option>
                    <option value="Roboto">Roboto</option>
                    <option value="Roboto Slab">Roboto Slab</option>
                </select>
            </div>
        </div>
        {% endset %}

        {% set bordersContent %}
        <div class="global-dropdown">
            <label class="global-dropdown__label">Border radius:</label>
            <div class="global-dropdown__select">
                <select class="js-select-style" style="borderRadius">
                    <option value="">Select</option>
                    <option value="0">0</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        {% endset %}

        {% include 'global-accordion.twig' with {
        label: 'Themes',
        content: themesContent
    }%}

        {% include 'global-accordion.twig' with {
        label: 'Colors',
        content: colorsContent
    }%}

        {% include 'global-accordion.twig' with {
        label: 'Fonts',
        content: fontsContent
    }%}

        {% include 'global-accordion.twig' with {
        label: 'Borders',
        content: bordersContent
    }%}

    </div>
    
    <div class="page-builder-locations-theme-editor__button"></div>

</div>
