<style class="page-builder-locations-styles"></style>

{% raw %}
    <script type="x-tmpl-mustache" class="hw-template-styles">
        .hw-theme--global-font-size {
            font-size: {{fontSize}}em;
        }
        .hw-theme--global-scrollbars *::-webkit-scrollbar-thumb {
            background-color: {{scrollbarsColor}};
            border-radius: {{borderRadius}}px;
        }
        .hw-theme--button {
            background-color: {{colorButtonBackground}};
            font-family: {{fontFamilyPrimary}};
            border-radius: {{borderRadius}}px;
        }
        .hw-theme--button:hover {
            background-color: {{colorButtonBackgroundActive}};
            color: {{colorButtonTextActive}};
        }
        .hw-theme--font-primary {
            color: {{colorTextPrimary}};
            font-family: {{fontFamilyPrimary}};
        }
        .hw-theme--font-secondary {
            color: {{colorTextSecondary}};
            font-family: {{fontFamilySecondary}};
        }
        .hw-theme--font-secondary-highlight {
            color: {{colorTextPrimary}};
            font-family: {{fontFamilySecondary}};
        }
        .hw-theme--icon-primary-color {
            fill: {{colorIconPrimary}};
        }
        .hw-theme--icon-secondary-color {
            fill: {{colorIconSecondary}};
        }
        .hw-theme--border-radius {
            border-radius: {{borderRadius}}px;
        }
        .hw-theme--border-radius-halved {
            border-radius: calc({{borderRadius}}px - 3px);
        }
        .hw-theme--pagination {
            border-color: {{colorButtonBackground}}!important;
            background-color: {{colorButtonBackground}};
        }
        .hw-theme--pin div[title="Marker"] {
            background-image: url({{pinUrl}});
        }
        .hw-theme--pin div[title="Selected Marker"] {
            background-image: url({{pinUrl}});
        }
        /* HACK for demo mode */
        .hw-utility--is-demo-mode .hw-card--is-expanded .hw-card__button--dual:first-of-type 
            {border-bottom-right-radius: {{borderRadius}}px !important;
        }
    </script>
{% endraw %}
