{% include 'page-builder-locations-styles.twig' %}

<section class="page-builder-locations section-width section-width--small section-width--center">

    {% include 'hw-widget.twig' with {embedded: true} %}

</section>
