{% if layout.slider_with_text_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.slider_with_text_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

<section class="page-builder-slider-with-text {{ backgroundColor }}">

    <div class="page-builder-slider-with-text__container section-width section-width--med section-width--center">

        {% if layout.slider_with_text_title %}
            <h3 class="page-builder-slider-with-text__title">{{ layout.slider_with_text_title }}</h3>
        {% endif %}

        {% if layout.slider_with_text_subtitle %}
            <h5 class="page-builder-slider-with-text__subtitle">{{ layout.slider_with_text_subtitle }}</h5>
        {% endif %}

        <div class="page-builder-slider-with-text__slider">
            <div class="page-builder-slider-with-text__slides">
                {% for slide in layout.slider_with_text_slide %}
                    <div class="page-builder-slider-with-text__slide">

                        <img class="page-builder-slider-with-text__slide-image" src="{{ TimberImage(slide.image.url)|resize(2240, 0) }}" alt="{{ TimberImage(slide.name) }}"/>
                        <div class="page-builder-slider-with-text__slide-text">{{ slide.text }}</div>

                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>
