{% if layout.clients_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.clients_background_color | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.clients_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% elseif layout.clients_background_color | sanitize == 'image' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

<section class="page-builder-clients {{ backgroundColor }}" {% if layout.clients_background_color | sanitize == 'image' %} style="background-image: url({{ layout.clients_image.url }})" {% endif %}>

    <div class="page-builder-clients__container section-width section-width--med section-width--center">

        <h3 class="page-builder-clients__title">{{ layout.clients_title }}</h3>
        <h5 class="page-builder-clients__subtitle {% if layout.clients_is_shopify %}page-builder-clients__subtitle--margin-bottom{% endif %}">{{ layout.clients_subtitle }}</h5>
        {% if layout.clients_is_shopify %}
            <div class="page-builder-clients__shopify">
                <div class="page-builder-clients__stars">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h5 class="page-builder-clients__subtitle">Trusted by hundreds of Shopify retailers</h5>
            </div>
        {% endif %}

        <div class="page-builder-clients__logos {% if layout.clients_overflow_logos_into_a_slider == true and layout.clients_logos|length > 5%}page-builder-clients__logos--isSlider{% endif %}">

            {% for logo in layout.clients_logos %}

                {% if layout.clients_background_color | sanitize == 'dark' %}
                    {% set image = logo.url | letterbox(328, 200, '#263238') %}
                {% elseif layout.clients_background_color | sanitize == 'image' %}
                    {% set image = logo.url | resize(0, 200) %}
                {% else %}
                    {% set image = logo.url | letterbox(328, 200, '#FFFFFF') %}
                {% endif %}

                <div class="page-builder-clients__logo">
                    <img src="{{ image }}" alt="{{ logo.name }}">
                </div>

            {% endfor %}

        </div>

        {% if layout.clients_include_a_link == true %}
            <a href="{{ layout.clients_link_url }}" class="button button--outlined-pink page-builder-clients__button">
                <span>{{ layout.clients_link_name }}</span></a>
        {% endif %}

    </div>

</section>
