{% if layout.image_box_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.image_box_background_color | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.image_box_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

<section class="page-builder-image-box {{ backgroundColor }}">

    <div class="page-builder-image-box__container section-width section-width--med section-width--center">

        <h3 class="page-builder-image-box__title">{{ layout.image_box_title }}</h3>
        <h5 class="page-builder-image-box__subtitle">{{ layout.image_box_subtitle }}</h5>

        <div class="page-builder-image-box__items">
            {% for item in layout.image_box_item | slice(0, 3) %}
                {% set tag = item.is_a_link ? 'a' : 'div' %}
                <{{ tag }} {% if item.is_a_link  %} href="{{ item.link }}" {% endif %} class="page-builder-image-box__item">
                    <img src="{{ item.image.url|resize(360, 260, 'center')  }}" alt="{{ item.image.url }}" class="page-builder-image-box__image">
                    <div class="page-builder-image-box__content">
                        {% if item.title %}
                            <div class="page-builder-image-box__heading">{{ item.title }}</div>
                        {% endif %}
                        {% if item.content %}
                            <div class="page-builder-image-box__text">{{ item.content }}</div>
                        {% endif %}
                    </div>
                    {% if item.is_a_link %}
                        <div class="page-builder-image-box__read-more">Read more</div>
                    {% endif %}

                </{{ tag }}>
            {% endfor %}
        </div>

    </div>

</section>
