{% set instagramUser = fn('get_field', 'instagram_user', 'site-options') %}
{% set instagramImages = fn('get_field', 'instagram_images', 'site-options') %}

<section class="page-builder-instagram">

    <div class="page-builder-instagram__container section-width section-width--med section-width--center">

        <h3 class="page-builder-instagram__title">{{ layout.instagram_title }}</h3>
        <h5 class="page-builder-instagram__subtitle">{{ layout.instagram_subtitle }} <a href="https://www.instagram.com/{{ instagramUser }}" target="_blank">@{{ instagramUser }}</a></h5>

        <div class="page-builder-instagram__items">

            {% for item in instagramImages %}
                <a href="{{ item.link }}" target="_blank" class="page-builder-instagram__item">
                    <img src="{{ item.image|resize(530, 530, 'center')  }}" alt="{{ item.image }}" class="page-builder-instagram__image">
                </a>
            {% endfor %}

        </div>

    </div>

</section>
