{% if layout.features_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.features_background_color | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.features_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

{% set panelOrder = layout.features_invert_panels == true ? 'inverted' : 'standard' %}
{% set currentWidth = layout.features_layout|sanitize == 'half-width-with-side-image' ? 'page-builder-features--halfwidth' : 'page-builder-features--fullwidth' %}
{% set halfWidth = layout.features_layout|sanitize == 'half-width-with-side-image' %}
{% set imageTypeContain = layout.features_image_type|sanitize == 'contain-image' %}
{% set imageTypeCover = layout.features_image_type|sanitize == 'cover-image' %}
{% set imageTypeGallery = layout.features_image_type|sanitize == 'gallery-slider' %}
{% set imageTypeAutoSlider = layout.features_image_type|sanitize == 'auto-slider' %}

<section class="page-builder-features {{ currentWidth }} {{ backgroundColor }} {% if halfWidth %}section-dual__wrapper section-dual__wrapper--{{ panelOrder }}{% endif %}">

    {% if halfWidth %}

        <div class="section-dual" {% if imageTypeCover %} style="background-image: url({{ layout.features_image.url|resize(1200, 0, 'center') }});" {% endif %}>
            {% if imageTypeContain %}
                <div class="section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--left-image">
                    <img src="{{ layout.features_image.url|resize(1120, 0) }}" alt="{{ layout.features_image.name }}" class="page-builder-features__image">
                </div>
            {% elseif imageTypeGallery %}
                <div class="page-builder-features__slider section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--left-image">
                    <div class="page-builder-features__slides">
                        {% for image in layout.features_gallery %}
                            {% set image = TimberImage(image).aspect < 1 ? TimberImage(image.url) | resize(0, 1280): TimberImage(image.url) | resize(1120, 0) %}
                            <img class="page-builder-features__slide" src="{{ image }}" alt="{{ TimberImage(image.name) }}">
                        {% endfor %}
                    </div>
                    <div class="page-builder-features__thumbnails">
                        {% for image in layout.features_gallery %}
                            <div class="page-builder-features__thumbnail">
                                <img src="{{ TimberImage(image.url)|resize(188, 140) }}" alt="{{ TimberImage(image.name) }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% elseif imageTypeAutoSlider %}
                <div class="page-builder-features__auto-slider section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--left-image">
                    <div class="page-builder-features__auto-slides">
                        {% for image in layout.features_auto_slider %}
                            {% set image = TimberImage(image).aspect < 1 ? TimberImage(image.url) | resize(0, 1280): TimberImage(image.url) | resize(1120, 0) %}
                            <img class="page-builder-features__auto-slide" src="{{ image }}" alt="{{ TimberImage(image.name) }}">
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="section-dual">

            <div class="section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--right">
            {% else %}
                <div class="page-builder-features__container section-width section-width--med section-width--center">
                {% endif %}

                {% if layout.features_subtitle %}
                    <h5 class="page-builder-features__subtitle">{{ layout.features_subtitle }}</h5>
                {% endif %}

                {% if layout.features_title %}
                    <h3 class="page-builder-features__title">{{ layout.features_title }}</h3>
                {% endif %}

                {% if layout.features_include_content %}
                    <div class="page-builder-features__content">{{ layout.features_content }}</div>
                {% endif %}

                {% if layout.features_include_icon_list %}
                    <ul class="page-builder-features__icons">
                        {% for icon in layout.features_icon_list %}
                            {% set image = layout.features_background_color | sanitize == 'dark' ? icon.icon.url | letterbox(60, 60, '#263238'): icon.icon.url | letterbox(60, 60, '#FFFFFF') %}
                            <li style="background-image: url({{ image }})" class="page-builder-features__list">
                                <p>{{ icon.text }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if layout.features_include_link %}
                    <div class="page-builder-features__buttons">
                        {% set buttonClass = layout.features_background_color | sanitize == 'dark' ? 'button--outlined-white' : 'button--outlined-pink' %}
                        <a href="{{ layout.features_link_url }}" class="button {{ buttonClass }}">
                            <span>{{ layout.features_link_name }}</span>
                        </a>
                    </div>
                {% endif %}

                {% if halfWidth %}
                </div>
            {% endif %}

        </div>

    </section>
