{% if layout.blurb_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.blurb_background_color | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.blurb_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

{% if layout.blurb_size | sanitize == 'large' %}
    {% set blurbSize = 'page-builder-blurbs__blurb--large' %}
    {% set blurbsMargin = 'page-builder-blurbs__blurbs--low' %}
{% elseif layout.blurb_size|sanitize == 'small' %}
    {% set blurbSize = 'page-builder-blurbs__blurb--small' %}
    {% set blurbsMargin = 'page-builder-blurbs__blurbs--high' %}
{% endif %}

<section class="page-builder-blurbs {{ backgroundColor }}">

    <div class="page-builder-blurbs__container section-width section-width--med section-width--center">

        <h3 class="page-builder-blurbs__title">{{ layout.blurb_title }}</h3>
        <h5 class="page-builder-blurbs__subtitle">{{ layout.blurb_subtitle }}</h5>

        <div class="page-builder-blurbs__blurbs {{ blurbsMargin }}">
            {% for blurb in layout.blurb_item %}

                {% if layout.blurb_background_color | sanitize == 'dark' %}
                    {% set blurbImage = blurb.icon.url | letterbox(120, 120, '#263238') %}
                    {% set borderColor = 'page-builder-blurbs__icon--light' %}
                {% else %}
                    {% set blurbImage = blurb.icon.url | letterbox(120, 120, '#FFFFFF') %}
                    {% set borderColor = 'page-builder-blurbs__icon--dark' %}
                {% endif %}

                <div class="page-builder-blurbs__blurb {{ blurbSize }}">
                    <div class="page-builder-blurbs__icon">
                        <img src="{{ theme.link }}/placeholder-blurb.png" alt="Blurb Placeholder" class="page-builder-blurbs__placeholder">
                        <img src="{{ blurbImage }}" alt="{{ blurb.icon.name }}" class="page-builder-blurbs__image">
                    </div>
                    <div class="page-builder-blurbs__content">
                        {% if blurb.title %}
                            <div class="page-builder-blurbs__heading">{{ blurb.title }}</div>
                        {% endif %}
                        {% if blurb.content %}
                            <div class="page-builder-blurbs__text">{{ blurb.content }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</section>
