<section class="page-builder-download {% if layout.download_image_type | sanitize == 'background' %}page-builder-download--bg {% else %} page-builder-download--not-bg{% endif %}" {% if layout.download_image_type | sanitize == 'background' %} style="background-image:url({{ layout.download_image.url }})" {% endif %}>

    <div class="page-builder-download__container {% if layout.download_image_type | sanitize == 'background' %}page-builder-download__container--bg section-width section-width--small {% else %} page-builder-download__container--not-bg section-width section-width--med{% endif %} section-width--center">

        <h3 class="page-builder-download__title">{{ layout.download_title }}</h3>
        <h5 class="page-builder-download__subtitle">{{ layout.download_subtitle }}</h5>

        <div class="page-builder-download__buttons">
            {% for button in layout.download_buttons %}

                <a href="{{ button.link }}" class="page-builder-download__button">
                    <img src="{{ button.icon.url|letterbox(20, 20, '#ef286b') }}"/>
                    <span>{{ button.name }}</span>
                </a>

            {% endfor %}
        </div>

        {% if layout.download_image_type | sanitize == 'bottom' %}
            <img class="page-builder-download__bimage-bottom" src="{{ layout.download_image.url }}"/>
        {% endif %}

    </div>

</section>
