{% if layout.lookbook_background_color | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.lookbook_background_color | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.lookbook_background_color | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

<section class="page-builder-lookbook {{ backgroundColor }}">

    <div class="page-builder-lookbook__container section-width section-width--med section-width--center">

        {% if layout.lookbook_title %}
            <h3 class="page-builder-lookbook__title">{{ layout.lookbook_title }}</h3>
        {% endif %}

        {% if layout.lookbook_subtitle %}
            <h5 class="page-builder-lookbook__subtitle">{{ layout.lookbook_subtitle }}</h5>
        {% endif %}

        <div class="page-builder-lookbook__items">

            {% include 'archive-lookbook-tease.twig' with {posts: layout.lookbook_item} %}

        </div>

    </div>

</section>
