{% if layout.animated_counter_background_type | sanitize == 'light' %}
    {% set backgroundColor = 'background-color--white' %}
{% elseif layout.animated_counter_background_type | sanitize == 'grey' %}
    {% set backgroundColor = 'background-color--light-grey' %}
{% elseif layout.animated_counter_background_type | sanitize == 'dark' %}
    {% set backgroundColor = 'background-color--dark-grey' %}
{% endif %}

<section class="page-builder-animated-counters {{ backgroundColor }}">

    {% if layout.animated_counter_background_type|sanitize == 'image' %}
        <div class="cover-image" style="background-image: url({{ layout.animated_counter_image.url|resize(1920, 0, 'center') }});"></div>
        <div class="overlay overlay--black"></div>
    {% endif %}

    <div class="page-builder-animated-counters__container section-width section-width--med section-width--center">

        <div class="page-builder-animated-counters__counters">

            {% for counter in layout.animated_counter %}
            
                {% set 
                    counterNumber = counter.number matches '/^\\d+$/' 
                    ? (counter.number / 100 * 70)|round 
                    : (counter.number / 100 * 70)|round(2)
                %}
                
                <div class="page-builder-animated-counters__counter">
                    <img src="{{ counter.icon.url|resize(120, 120)  }}" alt="{{ counter.icon.name }}" class="page-builder-animated-counters__icon">
                    <div class="page-builder-animated-counters__digit">
                        {% spaceless %}
                            <span class="page-builder-animated-counters__number" data-count="{{ counter.number }}">{{ counterNumber }}</span>
                            <span class="page-builder-animated-counters__symbol">{{ counter.symbol }}</span>
                        {% endspaceless %}
                    </div>
                    <div class="page-builder-animated-counters__heading">{{ counter.title }}</div>
                </div>
            {% endfor %}

        </div>

    </div>

</section>
