{% set withBackgroundImage = layout.contact_form_type|sanitize == "full-width-with-background-image" %}
{% set dualSection = layout.contact_form_type|sanitize == "half-width-with-side-image" %}
{% set inputClass =  withBackgroundImage ? 'input--color-white' : 'input--color-default' %}
{% set panelOrder = layout.contact_form_invert_panels == true ? 'inverted' : 'standard' %}

<section class="page-builder-contact-form {% if dualSection %}page-builder-contact-form--dual-section section-dual__wrapper section-dual__wrapper--{{ panelOrder }}{% endif %} {% if withBackgroundImage %}page-builder-contact-form--with-background{% endif %}">

    {% if withBackgroundImage %}
        <div class="cover-image" style="background-image: url({{ layout.contact_form_image.url|resize(1920, 0, 'center') }});"></div>
        <div class="overlay overlay--black"></div>
    {% endif %}

    {% if dualSection %}
        <div class="section-dual" style="background-image: url({{ layout.contact_form_image.url|resize(1200, 0, 'center') }});"></div>
        <div class="section-dual">
            <div class="section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--right">
            {% else %}
                <div class="page-builder-contact-form__container section-width section-width--med section-width--center">
                {% endif %}

                <h3 class="page-builder-contact-form__title">{{ layout.contact_form_title }}</h3>
                <h5 class="page-builder-contact-form__subtitle">{{ layout.contact_form_subtitle }}</h5>

                <form class="page-builder-contact-form__form" method="post" subject="{{ layout.contact_form_subject_field }}">

                    <div class="input input--text {% if dualSection %}input--width-full{% else %}input--width-half{% endif %} {{ inputClass }}">
                        <input type="text" name="name" placeholder="Name *" required="required">
                        <div class="input__underline"></div>
                    </div>
                    <div class="input input--text {% if dualSection %}input--width-full{% else %}input--width-half{% endif %} {{ inputClass }}">
                        <input type="email" name="email" placeholder="Email *" required="required">
                        <div class="input__underline"></div>
                    </div>
                    {% if not dualSection %}
                        <div class="input input--text input--width-half {{ inputClass }}">
                            <input type="tel" name="telephone" placeholder="Phone">
                            <div class="input__underline"></div>
                        </div>
                        <div class="input input--text input--width-half {{ inputClass }}">
                            <input type="text" name="website" placeholder="Website">
                            <div class="input__underline"></div>
                        </div>
                    {% endif %}
                    <div class="input input--text input--width-full {{ inputClass }}">
                        <textarea name="message" rows="2" cols="80" placeholder="Message *" required="required"></textarea>
                        <div class="input__underline"></div>
                    </div>

                    <button type="submit" class="button  {% if withBackgroundImage %}button--outlined-white{% else %}button--outlined-pink{% endif %} page-builder-contact-form__submit">
                        <span>Send message</span></button>

                </form>
                {% if dualSection %}
                </div>
            </div>
        {% else %}
        </div>
    {% endif %}

</section>
