{% set callToActionType = layout.call_to_action_type | sanitize %}
{% set backgroundImage = layout.call_to_action_background_type | sanitize %}
{% set sectionBackgroundImage = backgroundImage  == 'image' and callToActionType != 'single-sided' and callToActionType != 'double-sided' %}
{% set panelBackgroundImage = backgroundImage  == 'image' and callToActionType != 'single-sided' %}
{% set backgroundType = panelBackgroundImage ? 'image' : 'light' %}
{% set panelOrder = layout.call_to_action_invert_panels == true ? 'inverted' : 'standard' %}

<section class="page-builder-call-to-action page-builder-call-to-action--{{ callToActionType }} page-builder-call-to-action--{{ backgroundType }} {% if  callToActionType == 'single-sided' or callToActionType == 'double-sided'%}section-dual__wrapper section-dual__wrapper--{{ panelOrder }}{% endif %}">

    {% if sectionBackgroundImage %}
        <div class="cover-image" style="background-image: url({{ layout.call_to_action_image.url|resize(1920, 0, 'center') }});"></div>
        <div class="overlay overlay--black"></div>
    {% endif %}

    {% if callToActionType == 'single-link' or callToActionType == 'single-button' or callToActionType == 'double-button'  %}
        <div class="page-builder-call-to-action__container section-width section-width--med section-width--center">
            <div class="page-builder-call-to-action__content">
                {% if  callToActionType == 'single-link' %}
                    <h3>
                        {{ layout.call_to_action_title }}
                        <a href="{{ layout.call_to_action_link_url }}" class="{% if not panelBackgroundImage %}no-image{% endif %}">{{ layout.call_to_action_link_name }}</a>
                    </h3>
                {% elseif  callToActionType == 'single-button' or callToActionType == 'double-button'  %}
                    <h3>{{ layout.call_to_action_title }}</h3>
                    <h5>{{ layout.call_to_action_subtitle }}</h5>
                {% endif %}
            </div>
            {% if  callToActionType == 'single-button' or callToActionType == 'double-button'  %}
                <div class="page-builder-call-to-action__buttons">
                    <a href="{{ layout.call_to_action_link_url }}" class="button {% if panelBackgroundImage %}button--outlined-white{% else %}button--filled-pink{% endif %}">
                        <span>{{ layout.call_to_action_link_name }}</span></a>
                    {% if  callToActionType == 'double-button' %}
                        <a href="{{ layout.secondary_call_to_action_link_url }}" class="button {% if panelBackgroundImage %}button--filled-white{% else %}button--outlined-pink{% endif %}">
                            <span>{{ layout.secondary_call_to_action_link_name }}</span></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    {% endif %}

    {% if  callToActionType == 'single-sided' %}

        <div class="section-dual" style="background-image: url({{ layout.call_to_action_image.url|resize(1200, 0, 'center') }});"></div>

        <div class="section-dual">
            <div class="section-dual__container section-dual__container--padding-med section-dual__container--micro section-dual__container--right">
                <div class="page-builder-call-to-action__content">
                    <h3>{{ layout.call_to_action_title }}</h3>
                    <h5>{{ layout.call_to_action_subtitle }}</h5>
                </div>
                <div class="page-builder-call-to-action__buttons">
                    <a href="{{ layout.call_to_action_link_url }}" class="button button--filled-pink">
                        <span>{{ layout.call_to_action_link_name }}</span></a>
                </div>
            </div>
        </div>

    {% elseif  callToActionType == 'double-sided' %}

        <div class="section-dual" {% if panelBackgroundImage %} style="background-image: url({{ layout.call_to_action_image.url|resize(1200, 0, 'center') }});" {% endif %}>
            {% if panelBackgroundImage %}
                <div class="overlay overlay--black"></div>
            {% endif %}
            <div class="section-dual__container section-dual__container--padding-med section-dual__container--micro section-dual__container--left">
                <div class="page-builder-call-to-action__content">
                    <h3>{{ layout.call_to_action_title }}</h3>
                    <h5>{{ layout.call_to_action_subtitle }}</h5>
                </div>
                <div class="page-builder-call-to-action__buttons">
                    <a href="{{ layout.call_to_action_link_url }}" class="button {% if panelBackgroundImage %}button--outlined-white{% else %}button--outlined-pink{% endif %}">
                        <span>{{ layout.call_to_action_link_name }}</span></a>
                </div>
            </div>
        </div>

        {% if not panelBackgroundImage %}
            <div class="page-builder-call-to-action__seperator">or</div>
        {% endif %}

        <div class="section-dual" {% if panelBackgroundImage %} style="background-image: url({{ layout.call_to_action_image_second.url|resize(1200, 0, 'center') }});" {% endif %}>
            {% if panelBackgroundImage %}
                <div class="overlay overlay--black"></div>
            {% endif %}
            <div class="section-dual__container section-dual__container--padding-med section-dual__container--micro section-dual__container--right">
                <div class="page-builder-call-to-action__content">
                    <h3>{{ layout.call_to_action_title_second }}</h3>
                    <h5>{{ layout.call_to_action_subtitle_second }}</h5>
                </div>
                <div class="page-builder-call-to-action__buttons">
                    <a href="{{ layout.call_to_action_link_url_second }}" class="button {% if panelBackgroundImage %}button--outlined-white{% else %}button--outlined-pink{% endif %}">
                        <span>{{ layout.call_to_action_link_name_second }}</span>
                    </a>
                </div>
            </div>
        </div>

    {% endif %}

</section>
