{% set sideWithContent = layout.video_layout|sanitize == 'side-with-content' %}
{% set fullWidth = layout.video_layout|sanitize == 'full-width' %}

{% set currentWidth = sideWithContent ? 'page-builder-video--side-with-content' : 'page-builder-video--fullwidth' %}

<section class="page-builder-video {{ currentWidth }} {% if sideWithContent %}section-dual__wrapper{% endif %}">

    {% if sideWithContent %}

        <div class="section-dual">
            <div class="section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--left-image">
                <div class="page-builder-video__video">
                    <div class="page-builder-video__overlay" style="background-image: url({{layout.video_cover_image.url|resize(1120, 0)}})">
                        <div class="page-builder-video__play"></div>
                    </div>
                    <iframe src="{{layout.video_link|replace({'vimeo.com': 'player.vimeo.com/video'})}}" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>

        <div class="section-dual">

            <div class="section-dual__container section-dual__container--padding-low section-dual__container--micro section-dual__container--right">
                {% if layout.video_subtitle %}
                    <h5 class="page-builder-video__subtitle">{{ layout.video_subtitle }}</h5>
                {% endif %}
                {% if layout.video_title %}
                    <h3 class="page-builder-video__title">{{ layout.video_title }}</h3>
                {% endif %}
                {% if layout.video_content %}
                    <div class="page-builder-video__content">{{ layout.video_content }}</div>
                {% endif %}
            </div>

        </div>

    {% elseif fullWidth %}

        <div class="page-builder-video__container section-width section-width--small section-width--center">

            {% if layout.video_title %}
                <h3 class="page-builder-video__title">{{ layout.video_title }}</h3>
            {% endif %}

            {% if layout.video_subtitle %}
                <h5 class="page-builder-video__subtitle">{{ layout.video_subtitle }}</h5>
            {% endif %}

            <div class="page-builder-video__video">
                <div class="page-builder-video__overlay" style="background-image: url({{layout.video_cover_image.url|resize(1120, 0)}})">
                    <div class="page-builder-video__play"></div>
                </div>
                <iframe src="{{layout.video_link|replace({'vimeo.com': 'player.vimeo.com/video'})}}" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
            </div>

        </div>

    {% endif %}

</section>
