<section class="page-builder-slider">

    <div class="page-builder-slider__container section-width section-width--med section-width--center">

        {% if layout.slider_title %}
            <h3 class="page-builder-slider__title">{{ layout.slider_title }}</h3>
        {% endif %}

        {% if layout.slider_subtitle %}
            <h5 class="page-builder-slider__subtitle">{{ layout.slider_subtitle }}</h5>
        {% endif %}


        <div class="page-builder-slider__slider">
            <div class="page-builder-slider__slides">
                {% for image in layout.slider_images %}
                    <img class="page-builder-slider__slide" src="{{ TimberImage(image.url)|resize(2240, 0) }}" alt="{{ TimberImage(image.name) }}">
                {% endfor %}
            </div>
            
            <div class="page-builder-slider__thumbnails">
                {% for image in layout.slider_images %}
                    <div class="page-builder-slider__thumbnail">
                        <img src="{{ TimberImage(image.url)|resize(336, 248, ('center')) }}" alt="{{ TimberImage(image.name) }}">
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

</section>
