<section class="page-builder-accordions section-width section-width--med section-width--center">

    {% for accordion in layout.accordions %}

        <div class="page-builder-accordions__container">

            {% if accordion.title %}
                <h3 class="page-builder-accordions__title">{{ accordion.title }}</h3>
            {% endif %}

            {% if accordion.subtitle %}
                <h5 class="page-builder-accordions__subtitle">{{ accordion.subtitle }}</h5>
            {% endif %}

            <div class="page-builder-accordions__fields">
                {% for accordionField in accordion.accordion_field %}
                    <div class="page-builder-accordions__field">
                        <h5 class="page-builder-accordions__header">{{ accordionField.title }}</h5>
                        <div class="page-builder-accordions__content wysiwyg">{{ accordionField.content }}</div>
                    </div>
                {% endfor %}
            </div>

        </div>

    {% endfor %}

</section>
