.global-hero {
    color: $white;
    background-color: $white;
    position: relative;
    display: flex;
    overflow: hidden;
    &--full {
        min-height: 100vh;
    }
    &--large {
        min-height: 600px;
    }
    &--small {
        min-height: 400px;
    }
    &--left {
        text-align: left;
    }
    &--no-background {
        color: $outer-space;
        &.global-hero--large {
            min-height: 0px;
        }
        &.global-hero--small {
            min-height: 0px;
        }
        .global-hero__text {
            padding-top: 50px;
            padding-bottom: 10px;
        }
    }
    &--center {
        text-align: center;
        .global-hero__content,
        .global-hero__title {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &--right {
        text-align: right;
        .global-hero__content,
        .global-hero__title {
            margin-left: auto;
            margin-right: 0;
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $black;
        opacity: .3;
    }
    &__container {
        max-width: 930px;
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }
    &__text {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__title {
        margin-bottom: 26px;
        line-height: 1.2em;
        &--width-med {
            max-width: 560px;
        }
        &--full-width {
            max-width: 100%;
        }
    }
    &__content {
        &--width-med {
            max-width: 560px;
        }
        &--width-full {
            max-width: 100%;
        }
        p {
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.2px;
        }
    }
    &__button {
        margin-top: 25px;
    }
    &__caption {
        color: $white;
        position: relative;
        @include text-menu;
        font-weight: 400;
        &--seperator {
            margin-right: 30px;
            &:after {
                content: '';
                position: absolute;
                right: -16px;
                top: 6px;
                width: 4px;
                height: 4px;
                background-color: $pink;
                border-radius: 50%;
            }
        }
    }
    &__scroll {
        position: absolute;
        bottom: 50px;
        left: 0;
        background-color: $transparent;
        border: none;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.8px;
        padding: 0 0 0 40px;
        color: $white;
        &:before {
            content: '';
            transform: rotate(90deg);
            background-image: url('icon-arrow-white.svg');
            background-size: 9px;
            background-position: center center;
            background-repeat: no-repeat;
            left: 0;
            position: absolute;
            width: 25px;
            height: 25px;
            top: calc(50% - 25px / 2);
            border: solid 1px rgba($white, 0.6);
            border-radius: 50%;
        }
    }
}
