.global-accordion {
  &__label {
    @include user-select;
    padding: 12px 50px 12px 15px;
    position: relative;
    color: $outer-space;
    font-size: 14px;
    font-weight: 500;
    &:after {
      content: "";
      width: 50px;
      height: 100%;
      background-size: 12px;
      background-image: url("icon-chevron-pink.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(-90deg);
      transition: transform ease-in-out.3s;
    }
    &--active {
      &:after {
        transform: rotate(90deg);
      }
    }
  }
  &__content {
    display: none;
    padding: 0 15px 20px 15px;
  }

  border-bottom: solid 1px $silver;
}
