.pace {
    pointer-events: none;
    user-select: none;
}

.pace-hide-scroll {
    ::-webkit-scrollbar-thumb {
        background-color: $white !important;
    }
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: $pink;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.global-page-load {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white;
}
