.global-dropdown {
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
  }
  &__select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @include user-select;
    font-size: 12px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
    }
    &:after {
      content: "\25BC";
      height: 1em;
      font-size: 0.625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -0.5em;
      color: $dusty-gray;
    }
  }
  select {
    background-color: $white;
    border: solid 1px $pink;
    font-size: inherit;
    font-family: "Montserrat", sans-serif;
    padding: 8px 24px 8px 10px;
    width: 100%;
    margin: 0;
    font-weight: 500;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: "";
    appearance: none;
  }
  option {

    font-weight: 500;
  }
  select::-ms-expand {
    display: none;
  }
}
