.global-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999;
  background-color: rgba($black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: auto;
  padding: 30px;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background-image: url("icon-cross-black.svg");
    border: none;
    background-color: $transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease-in-out 0.3s;
    padding: 10px;
    @include user-select;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__content {
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: 50px;
    width: 100%;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
  }
}
