.global-ajax {
    &__wrapper {
        transition: all ease-in-out .3s;
        overflow: hidden;
    }
    &__container {
        opacity: 1;
        transition: all ease-in-out .3s;
    }
}
