.global-filters {
    margin-top: 80px;
    margin-bottom: 60px;
    &__categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__category {
        padding: 0 15px;
        margin-bottom: 25px;
    }
    &__button {
        @include text-menu;
        display: block;
        padding: 0;
        white-space: nowrap;
        background-color: $transparent;
        border: none;
        color: $outer-space;
        position: relative;
        transition: all ease-in-out .3s;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -8px;
            background-color: rgba($outer-space, 0.8);
            width: 0;
            transition: all ease-in-out .3s;
        }
        &.active,
        &:hover {
            color: $pink;
            &:after {
                width: 100%;
                background-color: $pink;
            }
        }
    }
}
