.archive-blog-featured-post {
    &__item {
        display: flex;
        margin-top: 80px;
        margin-bottom: 60px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
        transition: box-shadow ease-in-out .3s;
        background-color: $white;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        @include tablet {
            flex-direction: column;
            margin-bottom: 30px;
        }
        .overlay {
            opacity: 0;
        }
        &:hover {
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
            .overlay {
                opacity: 0.3
            }
        }
    }
    &__image {
        width: 60%;
        align-self: center;
        @include tablet {
            width: 100%;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    &__container {
        width: 40%;
        padding: 35px 35px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            width: 100%;
            padding-top: 0px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__category {
        color: $white;
        background-color: $pink;
        align-self: flex-start;
        padding: 8px 14px;
        border-radius: 16px;
        @include text-menu;
        @include tablet {
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
    &__content {
        max-width: 280px;
        margin: 30px auto;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        @include tablet {
            margin-bottom: 40px;
            max-width: 100%;
        }
    }
    &__date {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 13px;
        border-top: solid 1px rgba($black, .1);
        padding-top: 24px;
        @include tablet {
            padding-top: 20px;
        }
        span {
            color: $dusty-gray;
        }
    }
}
