.archive-blog-tease {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-height: 515px;
    width: calc(100% / 3 - 20px * 2 / 3);
    background-color: $white;
    border-radius: 6px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
    transition: box-shadow ease-in-out .3s;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    &:nth-child(3n+3) {
        margin-right: 0;
    }
    @include tablet {
        width: calc(100%);
        margin-right: 0;
    }
    &:hover {
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
    }
    &__category {
        color: $white;
        background-color: $pink;
        position: absolute;
        padding: 8px 14px;
        border-radius: 16px;
        @include text-menu;
        top: 30px;
        left: 30px;
    }
    &__image {
        width: 100%;
        img {
            width: 100%;
            display: block;
        }
    }
    &__content {
        padding: 35px 40px 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        flex: 1;
    }
    &__title {
        position: relative;
        margin-bottom: 20px;
        &--no-image {
            margin-top: auto;
            padding-top: 50px;
        }
        &--full-size {
            color: $white;
            margin: auto;
            padding-bottom: 40px;
            @include tablet {
                padding-bottom: 170px;
                padding-top: 160px;
            }
            &:before {
                content: '';
                width: 32px;
                height: 28px;
                background-image: url('icon-quote-white.svg');
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg);
                position: absolute;
                right: 0;
                top: -90px;
                @include tablet {
                    top: 100px;
                }
            }
        }
    }
    &__text {
        margin-bottom: 40px;
    }
    &__date {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 13px;
        border-top: solid 1px rgba($black, .1);
        padding: 20px 0;
        margin-top: auto;
        span {
            color: $dusty-gray;
        }
    }
}
