{% for post in posts %}

    <div data-id="{{ post.id }}" class="archive-lookbook-tease global-ajax__tease global-ajax__tease--ajaxed">

        <div class="archive-lookbook-tease__container">

            <div class="overlay overlay--black"></div>

            <div class="archive-lookbook-tease__image">
                <img src="{{ post.thumbnail.src|resize(720, 1142, 'center') }}" alt="{{ post.thumnail.name }}">
            </div>

            <div class="archive-lookbook-tease__content">

                <h3 class="archive-lookbook-tease__title">{{ post.title }}</h3>

                <div class="archive-lookbook-tease__categories">
                    {% for category in post.terms('lookbook_categories') %}{{ category.name }}{% if not loop.last %},
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="archive-lookbook-tease__line"></div>

            </div>

        </div>

    </div>

{% endfor %}
