<aside class="archive-lookbook-modal">

    <button class="archive-lookbook-modal__close"></button>

    <div class="archive-lookbook-modal__container archive-lookbook-modal__container">

        <h3 class="archive-lookbook-modal__title section-width section-width--med section-width--center">{{ post.title }}</h3>

        {% if post.lookbook_gallery_desktop and post.lookbook_gallery_mobile %}
            <ul class="archive-lookbook-modal__filters">
                <li class="archive-lookbook-modal__filter">
                    <button class="filter--all archive-lookbook-modal__button active">All</button>
                </li>
                <li class="archive-lookbook-modal__filter">
                    <button class="filter--desktop archive-lookbook-modal__button">Desktop</button>
                </li>
                <li class="archive-lookbook-modal__filter">
                    <button class="filter--mobile archive-lookbook-modal__button">Mobile</button>
                </li>
            </ul>
        {% endif %}

        <div class="archive-lookbook-modal__slider">

            <div class="archive-lookbook-modal__slides">
                {% for image in post.lookbook_gallery_desktop %}
                    {% set image = TimberImage(image) %}
                    <div class="archive-lookbook-modal__slide slick--desktop">
                        <img class="archive-lookbook-modal__image" src="{{ image.url|resize(2240, 0) }}" alt="{{ image.name }}">
                    </div>
                {% endfor %}
                {% for image in post.lookbook_gallery_mobile %}
                    {% set image = TimberImage(image) %}
                    <div class="archive-lookbook-modal__slide slick--mobile" style="background-image: url({{ themeLink }}/background-iphone.png)">
                        <img class="archive-lookbook-modal__image" src="{{ image.url|resize(522, 930) }}" alt="{{ image.name }}">
                    </div>
                {% endfor %}
            </div>

            <div class="archive-lookbook-modal__thumbnails">
                {% for image in post.lookbook_gallery_desktop %}
                    {% set image = TimberImage(image) %}
                    <div class="archive-lookbook-modal__thumbnail slick--desktop">
                        <img src="{{ image.url|resize(336, 248, ('center')) }}" alt="{{ image.name }}">
                    </div>
                {% endfor %}
                {% for image in post.lookbook_gallery_mobile %}
                    {% set image = TimberImage(image) %}
                    <div class="archive-lookbook-modal__thumbnail slick--mobile">
                        <img src="{{ image.url|resize(336, 248, ('center')) }}" alt="{{ image.name }}">
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

</aside>
