{% set layouts = post.get_field('template_page_builder') %}

<div class="page-builder">

    {% for layout in layouts %}

        {% if layout.acf_fc_layout == 'blurbs' %}
            {% include 'page-builder-blurbs.twig' %}
        {% elseif layout.acf_fc_layout == 'animated_counters' %}
            {% include 'page-builder-animated-counters.twig' %}
        {% elseif layout.acf_fc_layout == 'clients' %}
            {% include 'page-builder-clients.twig' %}
        {% elseif layout.acf_fc_layout == 'call_to_action' %}
            {% include 'page-builder-call-to-action.twig' %}
        {% elseif layout.acf_fc_layout == 'contact_form' %}
            {% include 'page-builder-contact-form.twig' %}
        {% elseif layout.acf_fc_layout == 'features' %}
            {% include 'page-builder-features.twig' %}
        {% elseif layout.acf_fc_layout == 'testimonials' %}
            {% include 'page-builder-testimonials.twig' %}
        {% elseif layout.acf_fc_layout == 'slider' %}
            {% include 'page-builder-slider.twig' %}
        {% elseif layout.acf_fc_layout == 'slider_with_text' %}
            {% include 'page-builder-slider-with-text.twig' %}
        {% elseif layout.acf_fc_layout == 'accordions' %}
            {% include 'page-builder-accordions.twig' %}
        {% elseif layout.acf_fc_layout == 'image_box' %}
            {% include 'page-builder-image-box.twig' %}
        {% elseif layout.acf_fc_layout == 'lookbook' %}
            {% include 'page-builder-lookbook.twig' %}
        {% elseif layout.acf_fc_layout == 'instagram' %}
            {% include 'page-builder-instagram.twig' %}
        {% elseif layout.acf_fc_layout == 'locations' %}
            {% include 'page-builder-locations.twig' %}
        {% elseif layout.acf_fc_layout == 'video' %}
            {% include 'page-builder-video.twig' %}
        {% elseif layout.acf_fc_layout == 'download' %}
            {% include 'page-builder-download.twig' %}
        {% endif %}

    {% endfor %}

</div>
