<section class="global-single-post-layout-video-and-editor section-width section-width--small section-width--center">

    <div class="global-single-post-layout-video-and-editor__container {% if layout.alternate_layout %}global-single-post-layout-video-and-editor__container--alternate{% endif %}">
       
        <div class="global-single-post-layout-video-and-editor__editor wysiwyg">{{ layout.editor }}</div>

        <div class="global-single-post-layout-video-and-editor__video-container">
            <div class="global-single-post-layout-video-and-editor__video">
                <div class="global-single-post-layout-video-and-editor__overlay" style="background-image: url({{layout.video_cover_image.url|resize(1120, 0)}})">
                    <div class="global-single-post-layout-video-and-editor__play"></div>
                </div>
                <iframe src="{{layout.video_link|replace({'vimeo.com': 'player.vimeo.com/video'})}}" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>

    </div>

</section>
