<section class="global-single-post-layout-image-and-editor section-width section-width--small section-width--center">
    <div class="global-single-post-layout-image-and-editor__container {% if layout.alternate_layout %}global-single-post-layout-image-and-editor__container--alternate{% endif %}">
        <div class="global-single-post-layout-image-and-editor__editor wysiwyg">{{ layout.editor }}</div>
        <img src="{{ layout.image.url|resize(890, 0) }}" alt="{{ layout.image.name }}" class="global-single-post-layout-image-and-editor__image">
    </div>
</section>
