<section class="global-single-post-layout-quote section-width section-width--small section-width--center">

    <div class="global-single-post-layout-quote__container">
        <div class="global-single-post-layout-quote__quote">{{ layout.quote }}</div>
        <div class="global-single-post-layout-quote__author caption">{{ layout.author }}</div>
    </div>

</section>
