<section class="global-single-post-layout-editor section-width section-width--small section-width--center">
    <div class="global-single-post-layout-editor__container wysiwyg">
        {{ layout.editor }}
    </div>
</section>
