<section class="global-single-post-layout-image section-width section-width--small section-width--center">
    <img src="{{ layout.image.url|resize(1940, 0, 'center') }}" alt="{{ layout.image.name }}">
</section>
