<section class="global-single-post-layout-video section-width section-width--small section-width--center">

    <div class="global-single-post-layout-video__video">
        <div class="global-single-post-layout-video__overlay" style="background-image: url({{layout.video_cover_image.url|resize(1120, 0)}})">
            <div class="global-single-post-layout-video__play"></div>
        </div>
        <iframe src="{{layout.video_link|replace({'vimeo.com': 'player.vimeo.com/video'})}}" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>

</section>
