.global-single-post-pagination {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    &__arrow {
        @include text-menu;
        color: $mine-shaft;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 13px;
            top: -1px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('icon-arrow-black.svg');
            transition: all ease-in-out .3s;
        }
        &--inactive {
            opacity: .2;
            pointer-events: none;
            cursor: not-allowed;
        }
        &--prev {
            padding-left: 35px;
            &:before {
                left: 0;
                transform: rotate(180deg);
            }
            &:hover {
                &:before {
                    left: -6px;
                }
            }
        }
        &--next {
            padding-right: 35px;
            &:before {
                right: 0;
            }
            &:hover {
                &:before {
                    right: -6px;
                }
            }
        }
    }
}
