.archive-resources-tease {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-height: 515px;
  width: calc(100% / 3 - 20px * 2 / 3);
  background-color: $white;
  border-radius: 6px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0);
  transition: box-shadow ease-in-out 0.3s;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  @include tablet {
    width: calc(100%);
    margin-right: 0;
  }
  &:hover {
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);

    .archive-resources-tease__link span::after {
      right: -15px;
    }
  }
  &__category {
    color: $white;
    background-color: $pink;
    position: absolute;
    padding: 8px 14px;
    border-radius: 16px;
    @include text-menu;
    top: 30px;
    left: 30px;
  }
  &__image {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }
  &__content {
    padding: 35px 40px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    flex: 1;
  }
  &__direct {
    margin-top: auto;
    padding-bottom: 50px;
    max-width: 240px;
  }
  &__snippet {
    color: $white;
    position: relative;
    margin-bottom: 25px;
  }
  &__title {
    position: relative;
    margin-bottom: 20px;
    &--no-image {
      margin-top: auto;
      padding-top: 50px;
    }
  }
  &__text {
    margin-bottom: 40px;
  }
  &__link {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    border-top: solid 1px rgba($black, 0.1);
    padding: 20px 0;
    margin-top: auto;
    span {
      position: relative;
      padding-right: 25px;
      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url("icon-chevron-pink.svg");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all ease-in-out 0.3s;
        bottom: 2px;
        right: 0px;
      }
      &:hover {
        &:after {
          right: -15px;
        }
      }
    }
  }
}
