<footer class="footer">

    <div class="section-width section-width--med section-width--center footer__container">

        <div class="footer__grid footer__grid--3-5">

            {% for item in menuFooter.get_items %}

                <div class="footer__column">

                    <div class="footer__title">{{ item.name }}</div>

                    <ul class="footer__menu">
                        {% for child in item.children %}
                            <li class="{{ child.classes | join(' ')}}">
                                <a href="{{ child.get_link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            {% endfor %}

            {% include 'footer-newsletter.twig' %}

        </div>

        <div class="footer__grid footer__grid--1-5">
            <div class="footer__column">
                <div class="footer__title">Follow us</div>
                <ul class="footer__social">
                    {% for link in socialLinks %}
                        <li>
                            <a href="{{ link.link }}" target="_blank">
                                <img src="{{ link.icon.url }}" alt="{{ link.name }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="footer__grid footer__grid--1-5">
            <div class="footer__column">
                <div class="footer__title">Address</div>

                <a href="{{ site.url }}" class="footer__logo">
                    <img src="{{ theme.link }}/logo-full-white.svg" alt="HubBox">
                </a>

                <span class="footer__content footer__content--bold">{{ phoneNumber }}</span>
                <a href="mailto:{{ supportEmail }}" class="footer__content footer__content--bold">{{ supportEmail }}</a>
                <div class="footer__content">{{ openingHours }}</div>
                <div class="footer__content">©
                    {{ "now"|date('Y') }}
                    HubBox All Rights Reserved</div>

            </div>
        </div>

    </div>

</footer>
