{% for testimonial in layout.select_testimonials | slice(0, 3) %}

    {% set tag = testimonial.testimonial_add_a_link == true ? 'a' : 'div' %}

    <{{ tag }} href="{{ testimonial.testimonial_lookbook_link }}" class="page-builder-testimonials-multiple">

        <div class="page-builder-testimonials-multiple__image page-builder-testimonials-multiple__image{% if  testimonial.testimonial_single_user_testimonial == true %}--small{% else %}--large{% endif %}">
            {% set image = testimonial.testimonial_single_user_testimonial == true ?  testimonial.thumbnail.src|resize(100, 100, 'center') :  testimonial.thumbnail.src|resize(720, 480, 'center')  %}
            <img src="{{image }}" alt="{{ testimonial.thumnail.name }}">
        </div>

        <div class="page-builder-testimonials-multiple__content">

            <h3 class="page-builder-testimonials-multiple__title">{{ testimonial.title }}</h3>

            <div class="page-builder-testimonials-multiple__text">"{{ testimonial.post_content }}"</div>

            {% if testimonial.testimonial_single_user_testimonial != true %}

                {% if testimonial.testimonial_add_a_link == true %}
                    <div class="page-builder-testimonials-multiple__link">View integration</div>
                {% endif %}
                
                <div class="page-builder-testimonials-multiple__author {% if testimonial.testimonial_add_a_link != true %}page-builder-testimonials-multiple__author--margin-auto{% endif %}">
                    {{ testimonial.testimonial_author_name }}<span> / {{ testimonial.testimonial_job_title }}</span>
                </div>

            {% endif %}

        </div>

    </{{ tag }}>

{% endfor %}
