{% set testimonial = layout.select_testimonials[0] %}

{% set tag = testimonial.testimonial_add_a_link == true ? 'a' : 'div' %}

<{{ tag }} href="{{  testimonial.testimonial_lookbook_link }}" class="page-builder-testimonials-single">

    <div class="page-builder-testimonials-single__image">
        <img src="{{ testimonial.thumbnail.src|resize(1120, 790, 'center') }}" alt="{{ testimonial.thumbnail.name }}">
    </div>

    <div class="page-builder-testimonials-single__container">
        <div class="page-builder-testimonials-single__content">
            <h3 class="page-builder-testimonials-single__title">{{ testimonial.title }}</h3>
            <div class="page-builder-testimonials-single__text">{{  testimonial.post_content }}</div>
        </div>

        {% if testimonial.testimonial_add_a_link == true %}
            <div class="page-builder-testimonials-single__link">View integration</div>
        {% endif %}

        <div class="page-builder-testimonials-single__author {% if testimonial.testimonial_add_a_link != true %}page-builder-testimonials-single__author--margin-auto{% endif %}">
            {{ testimonial.testimonial_author_name }}<span> / {{ testimonial.testimonial_job_title }}</span>
        </div>

    </div>
</{{ tag }}>
