<section class="page-builder-testimonials background-color--light-grey">

    <div class="page-builder-testimonials__container section-width section-width--med section-width--center">

        <h3 class="page-builder-testimonials__title">{{ layout.testimonials_title }}</h3>

        <div class="page-builder-testimonials__items">

            {% if layout.select_testimonials | length < 2 %}
                {% include 'page-builder-testimonials-single.twig' %}
            {% else %}
                {% include 'page-builder-testimonials-mutiple.twig' %}
            {% endif %}

        </div>

    </div>

</section>
