<div class="roi-calculator-result">
    <h3 class="roi-calculator-result__title">The HubBox Impact</h3>
    <div class="roi-calculator-result__content">
        <div class="roi-calculator-result__section">
            Based on shipping
            <span class="roi-calculator-result__highlight">{{ ordersPerAnnum|round|number_format }}</span>
            orders annually, at an average value of
            <span class="roi-calculator-result__highlight">{{ aov }}</span>
        </div>
        <div class="roi-calculator-result__section">
            Your average HubBox basket value will be
            <span class="roi-calculator-result__highlight">{{ hbaov }}</span>,
            with each HubBox order generating
            <span class="roi-calculator-result__highlight">{{ aovIncrease }}</span>
            in additional revenue
        </div>
        <div class="roi-calculator-result__section">
            The expected annual gross return from HubBox is
            <span class="roi-calculator-result__highlight">{{ grossReturn }}</span>
        </div>
    </div>
    {% include 'roi-calculator-buttons.twig' with { step: 'step-b' } %}
</div>
