<div class="roi-calculator-result">
    <h3 class="roi-calculator-result__title">The HubBox Impact</h3>
    <div class="roi-calculator-result__content">
        <div class="roi-calculator-result__section">
            Based on shipping
            <span class="roi-calculator-result__highlight">{{ ordersPerAnnum|round|number_format }}</span>
            online orders annually, at an average value of
            <span class="roi-calculator-result__highlight">{{ aov }}</span>
        </div>

        <div class="roi-calculator-result__section">
            You would see
            <span class="roi-calculator-result__highlight">{{ additionalPurchasingCustomers|round|number_format }}</span>
            additional purchases made in-store per year, generating an annual gross return of
            <span class="roi-calculator-result__highlight">{{ grossAnnualRevenue }}</span>
        </div>
    </div>
    {% include 'roi-calculator-buttons.twig' with { step: 'step-a' } %}
</div>
