{% set layouts = post.get_field('blog_layout') %}

<div class="global-single-post-layout">

    {% for layout in layouts %}

        {% if layout.acf_fc_layout == 'quote' %}
            {% include 'global-single-post-layout-quote.twig' %}
        {% elseif layout.acf_fc_layout == 'image' %}
            {% include 'global-single-post-layout-image.twig' %}
        {% elseif layout.acf_fc_layout == 'editor' %}
            {% include 'global-single-post-layout-editor.twig' %}
        {% elseif layout.acf_fc_layout == 'image_and_editor' %}
            {% include 'global-single-post-layout-image-and-editor.twig' %}
        {% elseif layout.acf_fc_layout == 'video' %}
            {% include 'global-single-post-layout-video.twig' %}
        {% elseif layout.acf_fc_layout == 'video_and_editor' %}
            {% include 'global-single-post-layout-video-and-editor.twig' %}
        {% endif %}

    {% endfor %}

</div>
