<section class="global-single-post-pagination section-width section-width--med section-width--center">    
    <a href="{{ post.next.link }}" class="global-single-post-pagination__arrow global-single-post-pagination__arrow--prev {% if not post.next.link %}global-single-post-pagination__arrow--inactive{% endif %}">previous</a>
    <a href="{{ post.prev.link }}" class="global-single-post-pagination__arrow global-single-post-pagination__arrow--next {% if not post.prev.link %}global-single-post-pagination__arrow--inactive{% endif %}">next</a>
</section>
