{% extends 'base.twig' %}

{% block content %}

    <div class="single-post content-section background-color--white">

        {% include 'global-hero.twig' with {
            headerHeight: 'small',
            textAlign: 'left',
        }%}

        {% include 'global-single-post-layout.twig' %}
        {% include 'global-single-post-pagination.twig' %}

    </div>

{% endblock %}
