.roi-calculator-pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @include tablet {
    margin-bottom: 70px;
  }
  &__arrow {
    @include text-menu;
    color: $mine-shaft;
    position: relative;
    transition: all ease-in-out 0.3s;
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 13px;
      top: -1px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all ease-in-out 0.3s;
    }
    &--inactive {
      opacity: 0.2;
      pointer-events: none;
      cursor: not-allowed;
    }
    &--prev {
      padding-left: 35px;
      &:before {
        left: 0;
        transform: rotate(180deg);
        background-image: url("icon-arrow-black.svg");
      }
      &:hover {
        &:before {
          left: -6px;
        }
      }
    }
    &--next {
      padding-right: 35px;
      color: $pink;
      &:before {
        right: 0;
        background-image: url("icon-arrow-pink.svg");
      }
      &:hover {
        &:before {
          right: -6px;
        }
      }
    }
    &.slick-disabled {
      opacity: 0.2;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
