.roi-calculator-result {
  margin-top: 90px;
  margin-bottom: 100px;
  &__title{
    text-align: center;
    margin-bottom: 50px;
  }
  &__content {
    text-align: center;
    font-size: 38px;
    line-height: 1.3em;
    margin-bottom: 70px;
  }
  &__section{
    margin-bottom: 40px;
  }
  &__highlight {
    color: $pink;
    font-weight: 500;
  }
}
