.roi-calculator-buttons {
  display: flex;
  justify-content: center;
  @include tablet {
    flex-direction: column;
  }
  &__button {
    @include tablet {
      margin: auto;
      
      width: 100%;
    }
    &:first-of-type {
      margin-right: 30px;
      @include tablet {
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
  }
}
