.roi-calculator-slider-questions {
  margin-bottom: 70px;
  @include tablet {
    margin-bottom: 50px;
  }

  // HACK Slick slider override (gutters)
  .slick-slide {
    margin: 0 40px;
  }
  .slick-list {
    margin: 0 -40px;
  }
}
