.roi-calculator-slide-question {
  &__list {
  }
  &__item {
    background-color: $transparent;
    border: solid 2px $pink;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include user-select;
    margin-bottom: 20px;
    @include text-menu;
    padding: 18px 28px;
    border-radius: 4px;
    position: relative;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: all ease-in-out 0.3s;
    input {
      margin: 0;
    }
    &:hover,
    &--selected {
      background-color: $pink;
      color: $white;
    }
  }
  &__input {
    display: flex;
    align-items: flex-start;
    ::-webkit-input-placeholder {
      color: rgba($black, 0.2);
      font-style: italic;
    }
    ::-moz-placeholder {
      color: rgba($black, 0.2);
      font-style: italic;
    }
    :-ms-input-placeholder {
      color: rgba($black, 0.2);
      font-style: italic;
    }
    :-moz-placeholder {
      color: rgba($black, 0.2);
      font-style: italic;
    }
    input,
    &:before {
      letter-spacing: 2px;
      font-size: 34px;
      font-family: "Montserrat", sans-serif;
      line-height: 1.1em !important;
      padding-top: 0;
    }
    input {
      border: none;
      border-bottom: solid 1px $silver;
      color: $pink;
      width: 100%;
      padding-bottom: 10px;
    }
    &:before {
      content: attr(prefix);
      position: relative;
      margin-right: 5px;
    }
  }
}
