$trackWidth: 200px;

.roi-calculator-slider-header {
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include tablet {
    margin-top: 60px;
  }
  &__slider {
    width: calc(100% - (#{$trackWidth} + 20px));
    @include tablet {
      width: 100%;
      order: 2;
    }
  }
  &__progress {
    width: $trackWidth;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include tablet {
      width: 100%;
      order: 1;
      margin-bottom: 30px;
    }
  }
  &__counter {
    margin-bottom: 7px;
    @include text-menu;
    color: $silver;
  }
  &__track {
    height: 5px;
    border-radius: 5px;
    background-color: $silver;
    overflow: hidden;
    width: $trackWidth;
    @include tablet {
      width: 100%;
    }
  }
  &__thumb {
    width: 0;
    background-color: $pink;
    height: 100%;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
  }
}
