.archive-lookbook-tease {
    margin-right: 20px;
    width: calc(100% / 3 - 20px * 2 / 3);
    margin-bottom: 30px;
    display: flex;
    @include user-select;
    &:nth-child(3n+3) {
        margin-right: 0;
    }
    @include tablet {
        width: calc(100% / 2 - 20px /2);
        margin-bottom: 20px;
        &:nth-child(3n+3) {
            margin-right: 20px;
        }
        &:nth-child(even) {
            margin-right: 0;
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }
    @include mobile {
        width: 100%;
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
        transition: all ease-in-out .3s;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        color: $white;
        text-align: center;
        border-radius: 6px;
        border: solid 0px $transparent;
        width: 100%;
        height: 100%;
        &:hover {
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
        }
        &--loading,
        &--loading:after {
            border-radius: 50%;
            width: 54px;
            height: 54px;
            padding: 0;
        }
        &--loading {
            margin: auto;
            top: 0;
            bottom: 0;
            color: $transparent;
            position: relative;
            text-indent: -9999em;
            border-top: 3px solid rgba($pink, 0.2);
            border-right: 3px solid rgba($pink, 0.2);
            border-bottom: 3px solid rgba($pink, 0.2);
            border-left: 3px solid $pink;
            transform: translateZ(0);
            animation: rotate 1.1s infinite linear;
            img,
            .overlay {
                opacity: 0 !important;
            }
            &:hover,
            &:focus,
            &:active {
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
            }
        }
    }
    &__image {
        width: 100%;
        img {
            width: 100%;
            display: block;
            opacity: 1;
            transition: all ease-in-out .3s;
        }
    }
    &__content {
        position: absolute;
        padding: 35px 40px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 300;
    }
    &__title {
        position: relative;
        margin-bottom: 15px;
        line-height: 1.2em;
        margin-top: 20%;
    }
    &__categories {
        @include text-menu;
        line-height: 1.4em;
        margin-bottom: 20px;
    }
    &__line {
        height: 1px;
        background-color: $white;
        width: 40px;
        margin: 0 auto;
    }
}
