.archive-lookbook-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    opacity: 1;
    transition: all ease-in-out .3s;
    background-color: $white;
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 30px;
        width: 30px;
        background-image: url('icon-cross-black.svg');
        border: none;
        background-color: $transparent;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease-in-out .3s;
        padding: 10px;
        @include user-select;
        &:hover {
            transform: rotate(90deg);
        }
    }
    &__container {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
    }
    &__title {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    &__filters {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    &__filter {
        padding: 0 15px;
    }
    &__button {
        @include text-menu;
        display: block;
        padding: 0;
        white-space: nowrap;
        background-color: $transparent;
        border: none;
        color: $outer-space;
        position: relative;
        transition: all ease-in-out .3s;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -8px;
            background-color: rgba($outer-space, 0.8);
            width: 0;
            transition: all ease-in-out .3s;
        }
        &.active,
        &:hover {
            color: $pink;
            &:after {
                width: 100%;
                background-color: $pink;
            }
        }
    }
    &__slider {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__slides {
        padding: 30px; //Slick slider
        .slick-arrow {
            border-radius: 4px;
            width: 40px;
            height: 40px;
            top: calc(50% - 20px);
            position: absolute;
            border: none;
            overflow: hidden;
            color: $transparent;
            background-color: rgba($white, 0.4);
            background-image: url('icon-chevron-black.svg');
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all ease-in-out 0.3s;
            &:hover {
                background-color: rgba($white, 1);
            }
        }
        .slick-disabled {
            opacity: 0;
        }
        .slick-prev {
            transform: rotate(180deg);
            left: 50px;
        }
        .slick-next {
            right: 50px;
        }
        .slick-list {
            margin-right: -10px;
            margin-left: -10px;
        }
        .slick-list,
        .slick-track {
            height: 100%;
        }
    }
    &__slide {
        padding-right: 10px;
        padding-left: 10px;
        display: flex !important; //overwrite slick slider
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__image {
        max-height: 77%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
    }
    &__thumbnails {
        margin-bottom: 30px;
        .slick-track {
            display: flex !important;
            flex-wrap: nowrap;
        }
    }
    &__thumbnail {
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.6;
        border: solid 1px;
        border-color: $transparent;
        transition: all ease-in-out .3s;
        backface-visibility: hidden;
        max-height: 100px;
        @include user-select;
        width: 122px;
        height: 90px;
        img {
            width: 122px;
            height: 90px;
        }
        &.slick-current,
        &:hover {
            border: solid 1px;
            border-color: $pink;
            opacity: 1;
        }
    }
}
