.button {
  @include text-menu;
  padding: 18px 38px;
  border-radius: 4px;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: solid 2px;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    transition: all ease-in-out 0.3s;
  }
  span {
    z-index: 2;
    display: inline;
    position: relative;
  }
  &--small {
    padding: 13px 22px;
  }
  &--outlined-pink {
    color: $outer-space;
    background-color: $transparent;
    border-color: $pink;
    &:before {
      background-color: $pink;
    }
    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
  &--filled-pink {
    color: $white;
    background-color: $pink;
    border-color: $pink;
    &:before {
      background-color: $white;
    }
    &:hover,
    &:focus,
    &:active {
      color: $outer-space;
    }
  }
  &--filled-disabled {
    color: $white;
    background-color: $silver;
    border-color: $silver;
    &:before {
      background-color: $silver;
    }
    cursor: not-allowed;
    pointer-events: none;
  }
  &--outlined-white {
    color: $white;
    background-color: $transparent;
    border-color: $white;
    &:before {
      background-color: $white;
    }
    &:hover,
    &:focus,
    &:active {
      color: $outer-space;
    }
  }
  &--filled-white {
    color: $outer-space;
    background-color: $white;
    border-color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: $transparent;
      color: $white;
    }
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      width: 100%;
    }
  }
  &--load-more {
    width: 178px; //For loader animation
  }
  &--loading,
  &--loading:after {
    border-radius: 50%;
    width: 54px !important; //Override button styles
    height: 54px;
    padding: 0;
  }
  &--loading {
    color: $transparent;
    background-color: $transparent;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid rgba($pink, 0.2);
    border-right: 3px solid rgba($pink, 0.2);
    border-bottom: 3px solid rgba($pink, 0.2);
    border-left: 3px solid $pink;
    transform: translateZ(0);
    animation: rotate 1.1s infinite linear;
    &:hover,
    &:focus,
    &:active {
      &:before {
        width: 0;
        transition: all 0s;
      }
    }
  }
}
