.section-width {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    position: relative;
    @include tablet {
        padding-left: 30px;
        padding-right: 30px;
    } //Positioning
    &--center {
        margin-left: auto;
        margin-right: auto;
    } //Sizes
    &--full {
        max-width: 100%;
    }
    &--med {
        max-width: 1200px;
    }
    &--small {
        max-width: 1050px;
    }
    &--mini {
        max-width: 800px;
    }
    &--micro {
        max-width: 600px;
    }
}

.section-dual {
    position: relative;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @include tablet {
        width: 100%;
        &:first-child {
            .section-dual__container--left-image {
                padding-bottom: 0;
            }
        }
    }
    &__wrapper {
        display: flex;
        @include tablet {
            flex-direction: column;
        }
        &--inverted {
            .section-dual:nth-of-type(1) {
                order: 2;
                @include tablet {
                    order: 1;
                }
            }
            .section-dual:nth-of-type(2) {
                order: 1;
                @include tablet {
                    order: 2;
                }
            }
            .section-dual__container {
                &--right {
                    margin-left: auto;
                    margin-right: 0;
                    padding-left: 40px;
                    padding-right: 9%;
                    @include tablet {
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-right: 0;
                    }
                }
                &--right-image {
                    margin-right: 0;
                    margin-left: auto;
                    padding-left: 40px;
                    padding-right: 0;
                    @include tablet {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
                &--left {
                    margin-left: 0;
                    margin-right: auto;
                    padding-left: 9%;
                    padding-right: 40px;
                    @include tablet {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
                &--left-image {
                    margin-left: 0;
                    margin-right: auto;
                    padding-left: 0;
                    padding-right: 40px;
                    @include tablet {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center; //Positioning
        &--center {
            margin-left: auto;
            margin-right: auto;
        }
        &--right {
            margin-left: 0;
            margin-right: auto;
            padding-left: 9%;
            padding-right: 40px;
            @include tablet {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &--right-image {
            margin-left: 0;
            margin-right: auto;
            padding-left: 0;
            padding-right: 40px;
            @include tablet {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &--left {
            margin-left: auto;
            margin-right: 0;
            padding-left: 40px;
            padding-right: 9%;
            @include tablet {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &--left-image {
            margin-right: 0;
            margin-left: auto;
            padding-left: 40px;
            padding-right: 0;
            @include tablet {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &--padding-med {
            padding-top: 200px;
            padding-bottom: 200px;
            @include tablet {
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
        &--padding-low {
            padding-top: 100px;
            padding-bottom: 100px;
        } //Sizes
        &--micro {
            max-width: 600px;
            position: relative;
            height: 100%;
            @include tablet {
                max-width: 100%;
            }
        }
    }
}
