.input {
    input,
    textarea {
        width: 100%;
    }
    &--text {
        position: relative;
        margin-bottom: 45px;
        input,
        textarea {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 1.4em;
            text-align: left;
            background-color: $transparent;
            padding: 15px 0;
            resize: vertical;
            transition: all ease-in-out 0.3s;
            border: none;
            &::-webkit-input-placeholder {
                transition: color ease-in-out 0.2s;
            }
            &::-moz-placeholder {
                transition: color ease-in-out 0.2s;
            }
            &:-ms-input-placeholder {
                transition: color ease-in-out 0.2s;
            }
            &:-moz-placeholder {
                transition: color ease-in-out 0.2s;
            }
            &:focus,
            &:active {
                border-color: $pink;
                &::-webkit-input-placeholder {
                    color: rgba($pink, 0.5);
                }
                &::-moz-placeholder {
                    color: rgba($pink, 0.2);
                }
                &:-ms-input-placeholder {
                    color: rgba($pink, 0.2);
                }
                &:-moz-placeholder {
                    color: rgba($pink, 0.2);
                }
                &+.input__underline {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &--color-default {
        input,
        textarea {
            color: $outer-space;
            border-color: $silver;
            &::-webkit-input-placeholder {
                color: $outer-space;
            }
            &::-moz-placeholder {
                color: $outer-space;
            }
            &:-ms-input-placeholder {
                color: $outer-space;
            }
            &:-moz-placeholder {
                color: $outer-space;
            }
        }
    }
    &--color-white {
        input,
        textarea {
            color: $white;
            border-color: $white;
            &::-webkit-input-placeholder {
                color: $white;
            }
            &::-moz-placeholder {
                color: $white;
            }
            &:-ms-input-placeholder {
                color: $white;
            }
            &:-moz-placeholder {
                color: $white;
            }
        }
    }
    &--width-full {
        width: 100%;
    }
    &--width-half {
        width: calc(50% - 10px);
        @include tablet {
            width: 100%;
        }
    }
    &__underline {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $silver;
        height: 1px;
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            bottom: 0;
            left: 0;
            transition: ease-in-out.3s;
            background-color: $pink;
        }
    }
}
