.content-wrapper {
    background-color: $white;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    height: 100%;
    transition: transform ease-in-out .3s;
    height: 100%;
}

.content-section {
    height: 100%;
}

.background-color {
    &--light-grey {
        background-color: $athens-gray;
        color: $outer-space;
    }
    &--dark-grey {
        background-color: $outer-space;
        color: $white;
    }
    &--white {
        background-color: $white;
        color: $outer-space;
    }
}

.cover-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .4;
    transition: all ease-in-out .3s;
    &--black {
        background-color: $black;
    }
    &--pink {
        background-color: $pink;
    }
}

.flex {
    display: flex;
}

.slide-left {
    transform: translateX(-100%) !important; //Override all partials
}

.slide-right {
    transform: translateX(100%) !important; //Override all partials
}

.slide-center {
    transform: translateX(0%) !important; //Override all partials
}
