.link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $pink;
    &--inactive {
        color: $silver;
    }
    &--standard-spacing {
       letter-spacing: 0;
    }
    &--underlined {
        text-decoration: underline;
    }
    &--background {
        color: $silver;
    }
    &--arrow {
        color: $silver;
    }
    &--angle {
        color: $silver;
    }
}
