*::-webkit-scrollbar-track {
    background-color: $white;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $river-bed;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1,
h2 {
    font-size: 45px;
    font-weight: 400;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4em;
}

h4 {
    font-size: 19px;
    font-weight: 400;
}

h5 {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4em;
}

h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

a {}

a:hover,
a:focus,
a:active {}
