.wysiwyg {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
        line-height: 1.5em;
    }
    p {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
    a {}
    ul,
    ol {
        margin-bottom: 20px;
        padding-left: 15px;
    }
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
    li {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5em;
    }
    a {
        color: $pink;
        text-decoration: underline;
        transition: color ease-in-out .3s;
    }
    a:hover,
    a:focus,
    a:active {
        color: $outer-space;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
