.pace .pace-progress {
  z-index: 2000;
}

.archive-lookbook-modal,
.page-builder-locations-theme-editor {
  z-index: 1000;
}

.global-page-load {
  z-index: 50;
}

.header {
  z-index: 2;
}

.content-wrapper,
.archive-lookbook-modal__close,
.page-builder-video__overlay,
.global-single-post-layout-video__overlay,
.global-single-post-layout-video-and-editor__overlay,
.button {
  z-index: 1;
}

.footer {
  z-index: 0;
}

.button:before {
  z-index: -1;
}
