$buttonSize: 50px;

.page-builder-locations-theme-editor {
  width: 200px;
  background-color: $white;
  height: 100%;
  right: -200px;
  top: 0;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  transition: ease-in-out.3s;
  &--active {
    right: 0;
    .page-builder-locations-theme-editor__button {
      background-color: $white;
      &:after {
        opacity: 0;
      }
    }
  }
  &__container {
    overflow: auto;
    height: 100%;
  }
  &__button {
    width: $buttonSize;
    height: $buttonSize;
    @include user-select;
    background-image: url("icon-brush-pink.svg");
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $pink;
    position: absolute;
    top: calc(50% - #{$buttonSize});
    left: -$buttonSize;
    box-shadow: -2px 1px 5px -2px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all ease-in-out 0.3s;
    &:after {
      content: "";
      width: $buttonSize;
      height: $buttonSize;
      position: absolute;
      z-index: 1;
      opacity: 1;
      background-image: url("icon-brush-white.svg");
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      transition: all ease-in-out 0.3s;
    }
  }
}
