// Media queries
@mixin mobile {
    @media (max-width: 550px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet-reverse {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1280px) {
        @content;
    }
}

// Grids
@mixin clear-margin-l-r {
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}

@mixin clear-padding-l-r {
    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        padding-right: 0;
    }
}

// User select
@mixin user-select {
    cursor: pointer;
    user-select: none;
}

// Text
@mixin text-menu {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
