// Colours
$transparent:           rgba(255, 255, 255, 0);
$black:                 #000000;
$outer-space:           #263238;
$mine-shaft:            #1F1F1F;
$river-bed:             #404C51;
$dove-gray:             #666666;
$dusty-gray:            #999999;
$silver:                #CCCCCC;
$alabaster:             #FAFAFA;
$athens-gray:           #F7F8FA;
$white:                 #FFFFFF;
$pink:                  #EF286B;
