{% extends 'base.twig' %}

{% block content %}

    <div class="archive-blog content-section background-color--light-grey">

        {% include 'global-hero.twig' with {
            alternatePostTitle: post.get_field('page_hero_page_title'),
            headerHeight: post.get_field('page_hero_size')|sanitize,
            textAlign: post.get_field('page_hero_text_align')|sanitize,
            subtitle: post.get_field('page_hero_subtitle'),
            titleWidth: 'width-med'
        }%}
        
        {% include 'archive-blog-featured-post.twig' %}
        {% include 'archive-blog-posts.twig' %}
        
        {% include 'global-load-more.twig' with {
            template: 'archive-blog-tease.twig',
            postType: 'post',
            offset: 1
        }%}

    </div>

{% endblock %}
