{% extends 'base.twig' %}

{% block content %}

    <div class="archive-lookbook content-section background-color--white">

        {% include 'global-hero.twig' with {
            alternatePostTitle: post.get_field('page_hero_page_title'),
            headerHeight: post.get_field('page_hero_size')|sanitize,
            textAlign: post.get_field('page_hero_text_align')|sanitize,
            subtitle: post.get_field('page_hero_subtitle'),
            titleWidth: 'width-med'
        }%}

        {% include 'global-filters.twig' with {
            categories: lookbookCategories,
            template: 'archive-lookbook-tease.twig',
            postType: 'lookbook',
            taxonomy: 'lookbook_categories'
        }%}

        {% include 'archive-lookbook-posts.twig' %}

        {% include 'global-load-more.twig' with {
            template: 'archive-lookbook-tease.twig',
            postType: 'lookbook',
            taxonomy: 'lookbook_categories',
            offset: 0
        }%}

    </div>

{% endblock %}
