{% extends 'base.twig' %}

{% block content %}

    <div class="archive-resources content-section background-color--light-grey">

        {% include 'global-hero.twig' with {
            alternatePostTitle: post.get_field('page_hero_page_title'),
            headerHeight: post.get_field('page_hero_size')|sanitize,
            textAlign: post.get_field('page_hero_text_align')|sanitize,
            subtitle: post.get_field('page_hero_subtitle'),
            titleWidth: 'width-med'
        }%}

        {% include 'global-filters.twig' with {
            categories: resourceCategories,
            template: 'archive-resources-tease.twig',
            postType: 'resources',
            taxonomy: 'resources_categories'
        }%}

        {% include 'archive-resources-posts.twig' %}

        {% include 'global-load-more.twig' with {
            template: 'archive-resources-tease.twig',
            postType: 'resources',
            taxonomy: 'resources_categories',
            offset: 0
        }%}

    </div>

{% endblock %}
