.resources-modal {
  margin-bottom: 5px;
  &__title {
    margin-bottom: 20px;
    color: $pink;
  }
  &__input {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 45px;
    }
  }
  &__terms-and-conditions {
    margin-bottom: 20px;
    @include user-select;
    display: flex;
    align-items: center;
    input {
      margin: 0 8px 0 0;
    }
    a {
      margin-left: 5px;
    }
  }
  &__button {
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
  }
}
