.page-builder-features {
  &--fullwidth {
    padding-top: 70px;
    padding-bottom: 70px;
    .page-builder-features__title,
    .page-builder-features__subtitle {
      text-align: center;
    }
    .page-builder-features__buttons {
      a {
        margin-left: auto;
        margin-right: auto;
        display: table;
      }
    }
  }
  &__title {
    margin-bottom: 35px;
  }
  &__subtitle {
    @include text-menu;
    margin-bottom: 20px;
  }
  &__image {
    width: 100%;
    margin: auto;
  }
  &__slides,
  &__auto-slides {
    margin-bottom: 20px;
  }
  &__slide,
  &__auto-slide {
    padding-right: 10px;
    padding-left: 10px;
    max-height: 440px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    object-fit: contain;
  }
  &__content {
    margin-bottom: 30px;
  }
  &__icons {
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 20px;
    min-height: 30px;
    padding-left: 50px;
    padding-top: 5px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 27px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__buttons {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    @include tablet {
      a {
        display: table;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.6;
    border: solid 1px;
    border-color: $transparent;
    transition: all ease-in-out 0.3s;
    backface-visibility: hidden;
    @include user-select;
    img {
      width: 100%;
    }
    &.slick-current,
    &:hover {
      border: solid 1px;
      border-color: $pink;
      opacity: 1;
    }
  } //Slick slider
  .slick-arrow {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    position: absolute;
    border: none;
    overflow: hidden;
    color: $transparent;
    background-color: rgba($white, 0.4);
    background-image: url("icon-chevron-black.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 0.3s;
    &:hover {
      background-color: rgba($white, 1);
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .slick-list {
    margin-right: -10px;
    margin-left: -10px;
  }
  .slick-dots {
    display: flex;
    margin: 40px auto 0;
    justify-content: center;
    li {
      margin: 0 5px;
    }
    button {
      width: 8px;
      height: 8px;
      border: none;
      padding: 0;
      overflow: hidden;
      color: $transparent;
      background-color: $silver;
      border-radius: 50%;
      transition: background-color ease-in-out 0.3s;
    }
    .slick-active {
      button {
        background-color: $pink;
      }
    }
  }
}
