.page-builder-blurbs {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    &__title {
        max-width: 670px;
        margin: 0 auto 15px;
    }
    &__subtitle {
        margin: 0 auto;
        max-width: 670px;
    }
    &__blurbs {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        &--high {
            margin-top: 80px;
        }
        &--low {
            margin-top: 50px;
        }
    }
    &__image {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &__icon {
        position: relative;
        border: solid 2px;
        border-radius: 50%;
        &--dark {
            border-color: $white;
        }
        &--light {
            border-color: $outer-space;
        }
    }
    &__placeholder {
        max-width: 60px;
        max-height: 60px;
        width: 100%;
    }
    &__heading {
        margin-bottom: 17px;
        font-weight: 500;
        letter-spacing: 2.3px;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 1.2em;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5em;
    }
    &__blurb {
        height: 100%;
        &:last-child {
            margin-right: 0;
        }
        &--large {
            width: calc(100% / 4 - 8% * 3 / 4);
            max-width: 200px;
            margin-right: 8%;
            margin-bottom: 60px;
            .page-builder-blurbs__icon {
                margin: 0 auto 40px;
                padding: 55px;
                max-width: 170px;
                max-height: 170px;
            }
            .page-builder-blurbs__image {
                max-width: 56px;
                max-height: 56px;
            }
            @include tablet {
                width: calc(100% / 2 - 4%);
                max-width: 100%;
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
            @include mobile {
                width: 100%;
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
        &--small {
            max-width: calc(100% / 3 - 25px * 3 / 4);
            width: 100%;
            display: flex;
            text-align: left;
            margin-right: 25px;
            margin-bottom: 60px;
            .page-builder-blurbs__icon {
                margin-right: 20px;
                padding: 25px;
                max-width: 75px;
                max-height: 75px;
                flex-shrink: 0;
            }
            .page-builder-blurbs__image {
                max-width: 25px;
                max-height: 25px;
            }
            .page-builder-blurbs__content {
                width: calc(100% - 75px);
            }
            &:nth-of-type(3n+3) {
                margin-right: 0;
            }
            &:last-child {
                margin-bottom: 80px;
            }
            @include tablet {
                max-width: calc(100% / 2 - 25px /2);
                &:nth-of-type(3n+3) {
                    margin-right: 25px;
                }
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
            @include mobile {
                width: 100%;
                max-width: 100%;
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
    }
}
