.page-builder-lookbook {
    padding-top: 70px;
    padding-bottom: 50px;
    &__title {
        max-width: 670px;
        margin: 0 auto 15px;
        text-align: center;
    }
    &__subtitle {
        margin: 0 auto 15px;
        max-width: 670px;
        text-align: center;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 55px;
    }
}
