.page-builder-accordions {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    &__title {
        max-width: 670px;
        margin: 0 auto 15px;
    }
    &__subtitle {
        margin: 0 auto 15px;
        max-width: 670px;
    }
    &__container {
        margin-bottom: 100px;
    }
    &__fields {
        padding-top: 50px;
    }
    &__field {
        background-color: $alabaster;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__header {
        text-align: left;
        padding: 40px 60px;
        @include user-select;
        transition: color ease-in-out .3s;
        position: relative;
        &:after,
        &:before {
            content: '';
            position: absolute;
            left: 30px;
            top: calc(50% - 1px);
            width: 12px;
            height: 2px;
            background-color: red;
            transition: transform ease-in-out .3s;
            transform: rotate(0deg);
        }
        &--active,
        &:hover {
            color: $pink;
        }
        &--active {
            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        text-align: left;
        padding: 0 60px 40px;
        display: none;
    }
}
