.page-builder-contact-form {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    &--with-background {
        color: $white;
    }
    &--dual-section {
        display: flex;
        .page-builder-contact-form__title,
        .page-builder-contact-form__subtitle {
            text-align: left;
        }
    }
    &__container {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    }
    &__title {
        margin-bottom: 10px;
        text-align: center
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 50px;
        font-size: 14px;
    }
    &__form {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: all ease-in-out .3s;
    }
    &__submit {
        margin: 30px auto auto;
    }
}
