.page-builder-instagram {
    padding-top: 70px;
    padding-bottom: 60px;
    &__title {
        max-width: 670px;
        margin: 0 auto 15px;
        text-align: center;
    }
    &__subtitle {
        margin: 0 auto 70px;
        max-width: 670px;
        text-align: center;
        a {
            color: $pink;
            font-weight: 600;
        }
    }
    &__items {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        height: 100%;
        width: calc(100% / 4 - 20px * 3 / 4);
        margin-right: 20px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.0);
        border-radius: 6px;
        overflow: hidden;
        transition: box-shadow ease-in-out .3s;
        margin-bottom: 30px;
        &:nth-child(4n + 4) {
            margin-right: 0;
        }
        @include tablet {
            width: calc(100% / 2 - 20px /2);
            margin-bottom: 20px;
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        @include mobile {
            width: 100%;
            &:nth-child(odd) {
                margin-right: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
        }
    }
    &__image {
        width: 100%;
    }
}
