.page-builder-animated-counters {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    &__container {
        position: relative;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $black;
        opacity: .3;
    }
    &__counters {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__counter {
        width: calc(100% / 4 - 4% * 3 / 4);
        margin-right: 4%;
        height: 100%;
        @include tablet {
            width: calc(100% / 2 - 4%);
            &:nth-child(even) {
                margin-right: 0;
                margin-bottom: 60px;
            }
        }
        @include mobile {
            width: 100%;
            &:nth-child(odd) {
                margin-right: 0;
                margin-bottom: 60px;
            }
        }
        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    &__icon {
        margin: 0 auto 15px;
        width: 36px;
        height: 36px;
    }
    &__digit {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    &__heading {
        font-weight: 500;
        letter-spacing: 1.8px;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1.2em;
    }
}
