.page-builder-call-to-action {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    &--image {
        color: $white;
    }
    &--light {
        color: $outer-space;
    }
    h3,
    h5 {
        text-align: center;
    }
    h3 {
        margin-bottom: 20px;
    }
    h5 {
        margin-bottom: 40px;
    }
    &__container {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        a {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__seperator {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.4px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        width: 0px;
        height: 100%;
        text-align: center;
        left: 50%;
        top: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 85px;
            width: 2px;
            background-color: $pink;
        }
        &:before {
            top: calc(50% - 110px);
        }
        &:after {
            bottom: calc(50% - 110px);
        }
    }
    &--single-link {
        h3 {
            font-size: 45px;
            margin-bottom: 0;
            letter-spacing: 1px;
            display: block;
        }
        a {
            display: inline-block;
            position: relative;
            transition: all ease-in-out 0.3s;
            &:after {
                content: '';
                width: 100%;
                height: 3px;
                background-color: $white;
                position: absolute;
                left: 0;
                bottom: -3px;
                transition: all ease-in-out 0.3s;
            }
            &:hover,
            &:focus,
            &:active {
                color: $pink;
                &:after {
                    background-color: $pink;
                }
            }
            &.no-image {
                color: $pink;
                &:after {
                    background-color: $pink;
                }
                &:hover {
                    color: $outer-space;
                    &:after {
                        background-color: $outer-space;
                    }
                }
            }
        }
    }
    &--single-button {
        h3,
        h5 {
            text-align: left;
            @include tablet {
                text-align: center;
            }
        }
        h3 {
            margin-bottom: 15px;
        }
        h5 {
            margin-bottom: 0;
        }
        a {
            align-self: center;
        }
        .page-builder-call-to-action__container {
            display: flex;
            justify-content: space-between;
            @include tablet {
                flex-direction: column;
            }
        }
        .page-builder-call-to-action__content {
            margin-right: 50px;
            @include tablet {
                margin-right: 0;
            }
        }
        .page-builder-call-to-action__buttons {
            flex-shrink: 0;
            @include tablet {
                margin-top: 40px;
            }
        }
    }
    &--double-sided {
        h3 {
            margin-bottom: 15px;
        }
        h5 {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 30px;
            line-height: 1.5em;
        }
        .page-builder-call-to-action__content,
        .page-builder-call-to-action__buttons {
            max-width: 380px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
