.page-builder-clients {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
  &__title {
    max-width: 670px;
    margin: 0 auto 15px;
  }
  &__subtitle {
    margin: 0 auto 80px;
    max-width: 670px;
    &--margin-bottom {
      margin-bottom: 30px;
    }
  }
  &__stars {
    margin-bottom: 30px;
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-size: contain;
      background-image: url("icon-star-white.svg");
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &--isSlider {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
  &__logo {
    display: block;
    margin: auto 30px;
    position: relative;
    width: calc(100% / 5 - 30px * 2);
    @include tablet {
      width: calc(100% / 3 - 30px * 2);
    }
    @include mobile {
      width: calc(100% / 2 - 30px * 2);
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100px;
      margin-bottom: 70px;
      margin: 0 auto 70px;
    }
  }
  &__button {
    display: inline-block;
    margin-bottom: 80px;
  }

  //Slick slider
  .slick-arrow {
    width: 36px;
    height: 36px;
    top: calc(50% - 104px);
    position: absolute;
    border-radius: 4px;
    border: solid 1px $silver;
    overflow: hidden;
    color: $transparent;
    background-color: $white;
    background-image: url("icon-chevron-black.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 0.3s;
    &:hover {
      background-position: left 15px center;
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-track,
  .slick-list {
    min-width: 100% !important;
  }
  .slick-track {
    display: flex;
    justify-content: center;
  }
  .slick-dots {
    display: flex;
    margin-bottom: 80px;
    li {
      margin: 0 5px;
    }
    button {
      width: 8px;
      height: 8px;
      border: none;
      padding: 0;
      overflow: hidden;
      color: $transparent;
      background-color: $silver;
      border-radius: 50%;
      transition: background-color ease-in-out 0.3s;
    }
    .slick-active {
      button {
        background-color: $pink;
      }
    }
  }
}
