.page-builder-slider {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 70px;
    &__title {
        max-width: 670px;
        margin: 0 auto 15px;
    }
    &__subtitle {
        margin: 0 auto 15px;
        max-width: 670px;
    }
    &__slider {
        margin-top: 70px;
    }
    &__slides {
        margin-bottom: 20px;
    }
    &__slide {
        padding-right: 10px;
        padding-left: 10px;
        max-height: 800px;
        max-width: 100%;
        height: auto;
        width: auto;
        margin: auto;
        object-fit: contain;
    }
    &__thumbnail {
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0.6;
        border: solid 1px;
        border-color: $transparent;
        transition: all ease-in-out .3s;
        backface-visibility: hidden;
        @include user-select;
        img {
            width: 100%;
        }
        &.slick-current,
        &:hover {
            border: solid 1px;
            border-color: $pink;
            opacity: 1;
        }
    } 
    
    //Slick slider
    .slick-arrow {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        position: absolute;
        border: none;
        overflow: hidden;
        color: $transparent;
        background-color: rgba($white, 0.4);
        background-image: url('icon-chevron-black.svg');
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all ease-in-out 0.3s;
        &:hover {
            background-color: rgba($white, 1);
        }
    }
    .slick-prev {
        transform: rotate(180deg);
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
    .slick-list {
        margin-right: -10px;
        margin-left: -10px;
    }
}
