.page-builder-slider-with-text {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 70px;
  &__title {
    max-width: 670px;
    margin: 0 auto 15px;
  }
  &__subtitle {
    margin: 0 auto 15px;
    max-width: 670px;
  }
  &__slider {
    margin-top: 70px;
  }
  &__slides {
    margin-bottom: 20px;
  }
  &__slide {
    padding-right: 10px;
    padding-left: 10px;
  }
  &__slide-image {
    max-height: 500px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    object-fit: contain;
    margin-bottom: 60px;
  }
  &__slide-text {
    max-width: 600px;
    margin: auto;
    line-height: 1.4em;
    font-size: 19px;
    font-weight: 300;
  }

  //Slick slider
  .slick-arrow {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    position: absolute;
    border: none;
    overflow: hidden;
    color: $transparent;
    background-color: rgba($white, 0.4);
    background-image: url("icon-chevron-black.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all ease-in-out 0.3s;
    &:hover {
      background-color: rgba($white, 1);
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .slick-list {
    margin-right: -10px;
    margin-left: -10px;
  }
  .slick-dots {
    display: flex;
    margin: 40px auto 0;
    justify-content: center;
    li {
      margin: 0 5px;
    }
    button {
      width: 8px;
      height: 8px;
      border: none;
      padding: 0;
      overflow: hidden;
      color: $transparent;
      background-color: $silver;
      border-radius: 50%;
      transition: background-color ease-in-out 0.3s;
    }
    .slick-active {
      button {
        background-color: $pink;
      }
    }
  }
}
