.page-builder-image-box {
  padding-top: 70px;
  padding-bottom: 90px;
  &__title {
    max-width: 670px;
    margin: 0 auto 15px;
    text-align: center;
  }
  &__subtitle {
    margin: 0 auto 70px;
    max-width: 670px;
    text-align: center;
  }
  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    height: 100%;
    width: calc(100% / 3 - 20px * 2 / 3);
    margin-right: 20px;
    @include tablet {
      width: calc(100% / 2 - 20px / 2);
      &:nth-child(even) {
        margin-right: 0;
        margin-bottom: 60px;
      }
    }
    @include mobile {
      width: 100%;
      &:nth-child(odd) {
        margin-right: 0;
        margin-bottom: 60px;
      }
    }
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 30px;
  }
  &__heading {
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 2.3px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.2em;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
  }
  &__read-more {
    @include text-menu;
    margin-top: 40px;
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      background-image: url("icon-chevron-pink.svg");
      width: 10px;
      height: 10px;
      right: -20px;
      top: calc(50% - 5px);
      transition: all ease-in-out 0.3s;
    }
    &:hover {
      &:after {
        right: -30px;
      }
    }
  }
}
