.page-builder-video {
  &--fullwidth {
    padding-top: 70px;
    padding-bottom: 70px;
    .page-builder-video__title,
    .page-builder-video__subtitle {
      text-align: center;
    }
    .page-builder-video__title {
      margin-bottom: 20px;
    }
    .page-builder-video__subtitle {
      margin-bottom: 50px;
    }
  }
  &__title {
    margin-bottom: 35px;
  }
  &__subtitle {
    @include text-menu;
    margin-bottom: 20px;
  }
  &__video {
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.10);
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  &__play {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: $white;
    border-radius: 50%;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    transition: background-color ease-in-out 0.3s;
    &:after {
      content: "►";
      position: absolute;
      top: calc(50% - 14px);
      left: calc(50% - 11px);
      font-size: 30px;
      color: $outer-space;
      transition: color ease-in-out 0.3s;
    }
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    transition: top ease-in-out 0.3s;
    @include user-select;
    &--revealed {
      top: -100%;
    }
    &:hover {
      .page-builder-video__play {
        background-color: $outer-space;
        &:after {
          color: $white;
        }
      }
    }
  }
}
