// NAFWGTD

.page-builder-download {
  text-align: center;
  background-color: white;
  &--bg {
    padding: 100px 20px;
    background-size: cover;
    background-position: center;
    .page-builder-download__title {
      margin: 0 auto 15px;
      line-height: 1.2em;
      font-size: 45px;
      font-weight: 400;
    }
  }
  &--not-bg {
    padding-top: 100px;
    padding-bottom: 0px;
    .page-builder-download__title {
      margin: 0 auto 15px;
    }
  }
  &__title {
    max-width: 670px;
  }
  &__subtitle {
    margin: 0 auto 40px;
    max-width: 850px;
  }
  &__container {
    background-color: white;

    &--bg {
      border-radius: 8px;
      padding: 90px 30px 100px;
    }
    &--not-bg {
    }
  }
  &__buttons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  &__bimage-bottom {
    width: 100%;
    margin-top: 40px;
  }
  &__button {
    padding: 14px 33px;
    border-radius: 24px;
    background-color: #ef286b;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 10px 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 5px;
    }
    span {
      line-height: 1;
      display: inline-block;
      top: 0;
    }
  }
}
