{% set modalContent %}
<form class="resources-modal">

    <h3 class="resources-modal__title">Download</h3>
    <div class="resources-modal__input input input--text  input--color-default input--width-full">
        <input type="name" placeholder="name">
        <div class="input__underline"></div>
    </div>
    <div class="resources-modal__input input input--text  input--color-default input--width-full">
        <input type="email" placeholder="email" required="required">
        <div class="input__underline"></div>
    </div>
    <div class="resources-modal__input input input--text  input--color-default input--width-full">
        <input type="tel" placeholder="phone">
        <div class="input__underline"></div>
    </div>

    <p>
        <label class="resources-modal__terms-and-conditions">
            <input type="checkbox">
            <span class="resources-modal__agreement">I agree to the
                <a href="{{ TimberPost('roi-calculator-terms-and-conditions').link }}" target="_blank" class="link link--underlined link--standard-spacing">Terms and Condition</a>
            </span>
        </label>
    </p>

    <button type="submit" class="resources-modal__button js-resources-modal-button button button--filled-pink button--filled-disabled">
        <span>Download</span></button>

</form>
{% endset %}

{% include 'global-modal.twig' with {
    modalContent: modalContent,
    trigger: 'js-modal-trigger-whitepaper',
    maxWidth: 400 
}%}
