.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    &__title {
        font-weight: 700;
        font-size: 100px;
        color: $pink;
    }
    &__content {
        a {
            color: $pink;
            text-decoration: underline;
        }
    }
}
