{% for post in posts %}

    {% set teaseLink = post.resources_direct_link ? post.resources_direct_link_button_url: post.link %}

    <a href="{{ teaseLink }}" class="archive-resources-tease global-ajax__tease global-ajax__tease--ajaxed" {% if post.resources_direct_link %} style="background-image: url({{ post.thumbnail.src|resize(720, 1034, 'center') }})" target="_blank" {% endif %}>

        {% if post.resources_direct_link %}
            <div class="overlay overlay--black"></div>
        {% endif %}

        {% if post.get_terms('resources_categories')[0] %}
            <div class="archive-resources-tease__category">{{ post.get_terms('resources_categories')[0].name }}</div>
        {% endif %}

        {% if post.thumbnail.src and not post.resources_direct_link %}
            <div class="archive-resources-tease__image">
                <img src="{{ post.thumbnail.src|resize(720, 500, 'center') }}" alt="{{ post.thumnail.name }}">
            </div>
        {% endif %}

        <div class="archive-resources-tease__content">

            {% if post.resources_direct_link %}

                <div class="archive-resources-tease__direct">
                    <h4 class="archive-resources-tease__snippet">
                        {{ post.resources_direct_link_title|excerpt(20) }}
                    </h4>

                    <button class="button button--outlined-white button--small">
                        <span>{{ post.resources_direct_link_button_name }}</span></button>
                </div>

            {% else %}

                <h3 class="archive-resources-tease__title {% if not post.thumbnail.src %}archive-resources-tease__title--no-image{% endif %}">{{ post.title|truncate(8) }}</h3>

                <div class="archive-resources-tease__text">
                    {{ post.post_excerpt|excerpt(20) }}
                </div>

                <div class="archive-resources-tease__link">
                    <span>View
                        {{post.get_terms('resources_categories')[0].name|trim('s', 'right')|replace({'ie': 'y'}) }}</span>
                </div>

            {% endif %}

        </div>

    </a>

{% endfor %}
