<section class="archive-resources-posts global-ajax__wrapper section-width section-width--med section-width--center">

    <div class="archive-resources-posts__container global-ajax__container">

        {% include 'archive-resources-tease.twig' %}

    </div>

</section>
