$menuPadding: 20px;
.header-menu {
    position: relative;
    @include tablet {
        position: fixed;
        max-width: 300px;
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        right: 0;
        background-color: $white;
        overflow: auto;
        padding-bottom: 20px;
        padding-left: 10px;
        transition: all ease-in-out .3s;
        transform: translateX(100%);
    }
    &__items {
        display: flex;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        a {
            @include text-menu;
            display: block;
            @include tablet {
                line-height: 1.5em;
            }
        }
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        @include tablet-reverse {
            &:first-of-type {
                .header-menu__link {
                    padding-left: 0;
                }
            }
            &:last-of-type {
                .header-menu__link {
                    padding-right: 0;
                }
            }
            &:hover {
                .header-menu__dropdown {
                    opacity: 1;
                }
            }
        }
    }
    &__link {
        color: $outer-space;
        padding: 30px $menuPadding;
        transition: color ease-in-out .3s;
        text-align: center;
        @include user-select;
        &--last-item {
            color: $pink;
        }
        &--white {
            color: $white;
        }
        @include tablet {
            padding: 8px 40px 8px 20px;
            text-align: left;
            color: $white;
            position: relative;
            background-color: $transparent;
            transition: all ease-in-out .3s;
            line-height: 1.2em;
            &:hover {
                color: $pink;
            }
            &--has-children {
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url('icon-chevron-pink.svg');
                    transform: rotate(90deg);
                    width: 10px;
                    height: 10px;
                    right: 20px;
                    top: calc(50% - 5px);
                    transition: transform ease-in-out .3s;
                }
                &.isActive {
                    color: $pink;
                    &:after {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
    &__dropdown {
        position: absolute;
        top: calc(100% - 8px);
        background-color: $river-bed;
        padding: 10px 0;
        right: $menuPadding;
        display: none;
        transition: opacity ease-in-out .3s;
        opacity: 0;
        min-width: 220px;
        @include tablet {
            position: relative;
            opacity: 1;
            min-width: 0;
            right: 0;
            width: 100%;
            top: 0;
            background-color: $transparent;
            padding: 0 0 10px 20px;
        }
        a {
            padding: 8px 20px;
            line-height: 18px;
            color: $white;
            transition: all ease-in-out .2s;
            @include tablet {
                display: inline-block;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-weight: 300;
            }
            &:hover {
                background-color: $mine-shaft;
                color: $pink;
                @include tablet {
                    background-color: $transparent;
                }
            }
        }
    }
    &__scroller {
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 17px;
        pointer-events: none;
        @include tablet {
            display: none;
        }
    }
    &__line {
        height: 2px;
        bottom: 4px;
        position: absolute;
        background-color: $pink;
        transition: all ease-in-out .3s;
        width: 0;
        left: 0;
        z-index: 1000;
    }
}
