$header-hamburger-padding-x: 0px !default;
$header-hamburger-padding-y: 0px !default;
$header-hamburger-layer-width: 25px !default;
$header-hamburger-layer-height: 2px !default;
$header-hamburger-layer-spacing: 5px !default;
$header-hamburger-layer-color: #EF296A !default;
$header-hamburger-layer-color-active: #FFFFFF !default;
$header-hamburger-layer-border-radius: 4px !default;
$header-hamburger-hover-opacity: 1 !default;
$header-hamburger-hover-transition-duration: 0.3s !default;
$header-hamburger-hover-transition-timing-function: linear !default;
$header-hamburger-hover-use-filter: false !default;
$header-hamburger-hover-filter: opacity(100%) !default;
.header-hamburger {
    @include tablet-reverse {
        display: none;
    }
    padding: $header-hamburger-padding-y $header-hamburger-padding-x;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity,
    filter;
    transition-duration: $header-hamburger-hover-transition-duration;
    transition-timing-function: $header-hamburger-hover-transition-timing-function;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    &:hover {
        @if $header-hamburger-hover-use-filter==true {
            filter: $header-hamburger-hover-filter;
        }
        @else {
            opacity: $header-hamburger-hover-opacity;
        }
    }
    &.active {
        .header-hamburger-inner {
            $y-offset: $header-hamburger-layer-spacing + $header-hamburger-layer-height;
            transform: translate3d(0, $y-offset, 0) rotate(45deg);
            &::before {
                transform: rotate(-45deg) translate3d($header-hamburger-layer-width / -7, $header-hamburger-layer-spacing * -1, 0);
                opacity: 0;
            }
            &::after {
                transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
            }
            &,
            &::before,
            &::after {
                background-color: $header-hamburger-layer-color-active;
            }
        }
    }
}

.header-hamburger-box {
    width: $header-hamburger-layer-width;
    height: $header-hamburger-layer-height * 3 + $header-hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
}

.header-hamburger-inner {
    display: block;
    top: $header-hamburger-layer-height / 2;
    margin-top: $header-hamburger-layer-height / -2;
    &,
    &::before,
    &::after {
        width: $header-hamburger-layer-width;
        height: $header-hamburger-layer-height;
        background-color: $header-hamburger-layer-color;
        border-radius: $header-hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }
    &::before,
    &::after {
        content: "";
        display: block;
    }
    &::before {
        top: $header-hamburger-layer-height + $header-hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.3s;
    }
    &::after {
        bottom: ($header-hamburger-layer-spacing + $header-hamburger-layer-height) * -1;
        top: ($header-hamburger-layer-height * 2) + ($header-hamburger-layer-spacing * 2);
    }
}
