.header-mobile-overlay {
    @include tablet-reverse {
        display: none !important; //Override JS
    }
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    opacity: .6;
    background-color: $black;
}
