.header {
    position: fixed;
    top: 0;
    transform: translateX(0%);
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
    height: 112px;
    &.shrunk {
        height: 80px;
        background-color: $white !important; // Overwrite header.js
        @include tablet-reverse {
            .header-menu__link {
                color: $outer-space;
                &--last-item {
                    color: $pink;
                }
            }
        }
    }
    &.shadowed {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    }
    @include tablet {
        &.menuActive {
            background-color: $outer-space !important; // Overwrite .shrunk above}
            .header-menu {
                transform: translateX(0%);
                background-color: $outer-space;
            }
            .header__logo--secondary {
                opacity: 1;
            }
            .header__logo--primary {
                opacity: 0;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        z-index: 1;
    }
    &__logo {
        display: block;
        width: 120px;
        margin-right: 50px;
        position: relative;
        &--primary {
            transition: opacity ease-in-out .3s;
            opacity: 1;
        }
        &--secondary {
            @include tablet-reverse {
                display: none;
            }
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity ease-in-out .3s;
        }
    }
}
